@charset "utf-8";

$auto: 0 auto;
$w:1280px;

$break_point_1280 : 1280px;
$break_point_1080 : 1080px;
$break_point_1024 : 1024px;
$break_point_920 : 920px;
$break_point_768 : 768px;
$break_point_620 : 620px;
$break_point_580 : 580px;
$break_point_480 : 480px;
$break_point_420 : 420px;
$break_point_380 : 380px;
$break_point_360 : 360px;
$break_point_320 : 320px;
