<?php include_once('../layout/header.html'); ?>
<section id="bag">
  <div class="bag_bg">
    <h1>Backpacking</h1>
    <ul class="section_menu">
      <li>
        <span class="xi-home-o"></span>
        <a href="/index.html">
          HOME
        </a>
      </li>
      <li><a href="#">브랜드</a></li>
      <li><a href="/layout/bag.html">
        배낭여행
      </a></li>
    </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <h2>배낭여행</h2>
  <div class="place_box_04">
    <p><span>서울근교</span></p>
    <ul class="place_list_04">
      <li><a href="#"><img src="../img/bag_01.png">
      <span class="place_name_04">캠핑톡</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">서울 서초구 남부순환로 2497<br>호서대학교 벤처대학원 709호</span>
        <a class="camp_phone" href="tel:070-4336-1824">070-4336-1824</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/bag_02.png">
      <span class="place_name_04">서울 서초글램핑 청계산장</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">서울 서초구 청계산로 140-94</span>
        <a class="camp_phone" href="tel:010-5471-3699">010-5471-3699</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/bag_03.png">
      <span class="place_name_04">강화 캠핑파크</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">인천 강화군 길상면<br>신촌로146번길 14-11</span>
        <a class="camp_phone" href="tel:0507-1439-1025">0507-1439-1025</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/bag_04.png">
      <span class="place_name_04">마리원 캠핑장</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">인천 강화군 길상면<br>장흥로101번길 6</span>
        <a class="camp_phone" href="tel:0507-1308-4377">0507-1308-4377</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
    </ul>
  </div>
  <div class="place_box_04">
    <ul class="place_list_04">
      <li><a href="#"><img src="../img/bag_05.png">
      <span class="place_name_04">검디관광농원 캠핑장</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">인천 강화군 길상면 동검길 159-47</span>
        <a class="camp_phone" href="tel:0507-1316-5802">0507-1316-5802</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_06.png">
      <span class="place_name_04">아로니움 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">인천 강화군 삼산면 삼산남로 85-11</span>
        <a class="camp_phone" href="tel:032-933-6256">032-933-6256</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_07.png">
      <span class="place_name_04">서울 북한산 럭셔리 카라반&글림핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">서울 서초구 청계산로 140-94</span>
        <a class="camp_phone" href="tel:010-5471-3699">010-5471-3699</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_08.png">
      <span class="place_name_04">씨스테이 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">인천 옹진군 영흥면 내리 산109</span>
        <a class="camp_phone" href="tel:010-2645-7477">010-2645-7477</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_04">
    <p><span>가평</span></p>
    <ul class="place_list_04">
      <li><a href="#"><img src="../img/bag_09.png">
      <span class="place_name_04">새라핌캠프</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경기 가평군 설악면 묵안로 626-17</span>
        <a class="camp_phone" href="tel:0507-1348-3917">0507-1348-3917</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_10.png">
      <span class="place_name_04">새연 카라반 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경기 가평군 조종면<br>운악청계로333번길 86</span>
        <a class="camp_phone" href="tel:010-4150-6204">010-4150-6204</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_11.png">
      <span class="place_name_04">가평 명지산 카라반&글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경기 가평군 북면 가화로 2932-23</span>
        <a class="camp_phone" href="tel:0507-1320-0655">0507-1320-0655</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_12.png">
      <span class="place_name_04">그라티아 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경기 가평군 가평읍 두밀리 216</span>
        <a class="camp_phone" href="tel:0507-1339-1433">0507-1339-1433</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_04">
    <p><span>경상도</span></p>
    <ul class="place_list_04">
      <li><a href="#"><img src="../img/bag_13.png">
      <span class="place_name_04">봉식이놀이터 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경북 청도군 풍각면 봉수길 749-8</span>
        <a class="camp_phone" href="tel:054-371-3969">054-371-3969</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_14.png">
      <span class="place_name_04">글램핑앤카라반</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경북 포항시 남구 호미곶면 구만길 64</span>
        <a class="camp_phone" href="tel:010-8974-1004">010-8974-1004</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_15.png">
      <span class="place_name_04">별빛마루 글램핑팬션</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경북 경주시 천북면 새터흥림길 1-75</span>
        <a class="camp_phone" href="tel:010-9349-9141">010-9349-9141</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_16.png">
      <span class="place_name_04">팔공산 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">경북 칠곡군 동명면 구남로 281<br>팔공산글램핑</span>
        <a class="camp_phone" href="tel:0507-1348-9798">0507-1348-9798</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_04">
    <p><span>전라도</span></p>
    <ul class="place_list_04">
      <li><a href="#"><img src="../img/bag_17.png">
      <span class="place_name_04">구시포 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">전북 고창군 상하면<br>진암구시포로 547-23</span>
        <a class="camp_phone" href="tel:010-2640-6001">010-2640-6001</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_18.png">
      <span class="place_name_04">금강 두승산 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">전북 정읍시 고부면 영원로 222-15</span>
        <a class="camp_phone" href="tel:063-536-4441">063-536-4441</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_19.png">
      <span class="place_name_04">덕유산 계곡 글램핑</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">전북 무주군 설천면 구천동1로 44</span>
        <a class="camp_phone" href="tel:010-4591-6470">010-4591-6470</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/bag_20.png">
      <span class="place_name_04">그날 카라반</span></a>
      <div class="hover_box_04">
        <span class="camp_adress">전북 무주군 설천면 심곡리 651</span>
        <a class="camp_phone" href="tel:010-4488-5119">010-4488-5119</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
<?php include_once('../layout/footer.html'); ?>
