<?php include_once('../layout/header.html'); ?>
<section id="index_pg">
  <div class="main_1">
    <div class="banner">
      <ul>
       <li style="background-image: url('/img/main_01.png');">
         <div class="banner_t">
         <h1 class="bt1">청춘을</h1>
         <p class="bt2">여행하는 사람들에게</p>
         <div class="reserve-button">
         <a href="/layout/reservation.html">
           예약하기
         <span></span></a>
         </div>
         </div>
       </li>
       <li style="background-image: url('/img/main_02.png');">
         <div class="banner_t">
         <h1 class="bt3">새로운 도전을</h1>
         <p class="bt4">응원합니다</p>
         <div class="reserve-button">
         <a href="/layout/reservation.html">
           예약하기
         <span></span></a>
         </div>
         </div>
       </li>
       <li style="background-image: url('/img/main_03.png');">
         <div class="banner_t">
         <h1 class="bt5">쉽고 간단하게</h1>
         <p class="bt6">바라던 그곳으로</p>
         <div class="reserve-button">
         <a href="/layout/reservation.html">
           예약하기
         <span></span></a>
         </div>
         </div>
       </li>
       <li style="background-image: url('/img/main_04.png');">
         <div class="banner_t">
         <h1 class="bt7">어렵기만 했던</h1>
         <p class="bt8">여행은 이제 그만</p>
         <div class="reserve-button">
         <a href="/layout/reservation.html">
           예약하기
         <span></span></a>
         </div>
         </div>
       </li>
       <li style="background-image: url('/img/main_05.png');">
         <div class="banner_t">
         <h1 class="bt9">모두가 행복한</h1>
         <p class="bt10">여행을 시작하세요</p>
           <div class="reserve-button">
           <a href="/layout/reservation.html">
             예약하기
           <span></span></a>
           </div>
         </div>
       </li>
      </ul>
    </div>
    <a href="#none" class="unslider-arrow next"></a>
    <a href="#none" class="unslider-arrow prev"></a>
    <div class="scroll">
			<p>Scroll</p>
			<span></span>
		</div>
		<div class="wave">
			<img src="/img/wave4.png" alt="">
		</div>
  </div>
  <div class="main_2">
    <div class="lent_men">
    <div class="lent">
      <a class="lent_t" href="/layout/lent.html">렌탈서비스</a>
      <span>'간단'하고 '간편'하게</span>
    </div>
    <div class="lent lent_l">
      <a class="first_lent lent_img" href="/layout/lent.html#lent_div_01">
      <img src="/img/lent_1.png" alt="">
      <p>캠핑패키지</p>
    </a></div>
    <div class="lent lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_02">
      <img src="/img/lent_2.png" alt="">
      <p>텐트/타프</p>
    </a></div>
    <div class="lent lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_03">
      <img src="/img/lent_3.png" alt="">
      <p>매트/침낭</p>
    </a></div>
    <div class="lent_2 lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_04">
      <img src="/img/lent_4.png" alt="">
      <p>코펠/버너/취사</p>
    </a></div>
    <div class="lent_2 lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_05">
      <img src="/img/lent_5.png" alt="">
      <p>체어/테이블/기타</p>
    </a></div>
    <div class="lent_2 lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_06">
      <img src="/img/lent_6.png" alt="">
      <p>화로대/BBQ</p>
    </a></div>
    <div class="lent_2 lent_l"><a class="lent_img" href="/layout/lent.html#lent_div_07">
      <img src="/img/lent_7.png" alt="">
      <p>백패킹</p>
    </a></div>
      <div class="more_btn">
        <a href="#none">더 보기</a>
      </div>
    </div>
  </div>
  <div class="media_main_2">
      <a class="lent_t" href="/layout/lent.html">렌탈서비스</a>
      <span>'간단'하고 '간편'하게</span>
      <div class="media_main2_box">
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_01">
          <img src="/img/lent_1.png" alt="">
          <p>캠핑패키지</p>
        </a>
        </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_02">
          <img src="/img/lent_2.png" alt="">
          <p>텐트/타프</p>
        </a>
        </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_03">
          <img src="/img/lent_3.png" alt="">
          <p>매트/침낭</p>
        </a>
        </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_04">
          <img src="/img/lent_4.png" alt="">
          <p>코펠/버너/취사</p>
        </a>
        </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_05">
          <img src="/img/lent_5.png" alt="">
          <p>체어/테이블/기타</p>
        </a>
        </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_06">
          <img src="/img/lent_6.png" alt="">
          <p>화로대/BBQ</p>
        </a>
      </div>
        <div class="media_lentlist">
          <a class="lent_img" href="/layout/lent.html#lent_div_07">
          <img src="/img/lent_7.png" alt="">
          <p>백패킹</p>
        </a>
      </div>
    </div>
  </div>
  <div class="main_3">
    <div class="popular_box">
      <div class="popular_tbox">
        <h2>인기장소</h2>
        <span class="pp_name">부산</span>
        <span class="pp_m_name">광안대교</span>
        <p><span class="pp_ct">
          국내에서 가장 긴 교량으로,<br>
          시간대별, 요일별, 계절별로 구분해<br>10만 가지 이상의
          다양한 색상을 낼 수 있는<br>경관 조명시설을 갖추었다.<br>
          광안해수욕장의 야경과 함께<br>부산광역시의 명소로 자리잡았다.
        </span></p>
        <div class="action-button">
        <a href="/layout/trip.html">
          더 많은 곳 보기
        <span></span></a>
        </div>
      </div>
      <div class="popular_img">
        <a href="/layout/hotplace.html">
          <img src="/img/busan.png" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="main_4">
    <div class="review_box">
      <a class="review_btn" href="/layout/review.html">베스트 여행가</a>
      <ul class="review_list">
        <li>
          <a href="/layout/review.html">
            <img src="/img/review_1.png" alt="">
          </a>
          <div class="review_t">
          <span class="main4_name">이요리님</span>
          <p><span class="review_ct">
            캠핑도구 렌탈해서 처음 다녀왔는데 도구도 깨끗하고 재미있었어요!
          </span></p>
          <span class="xi-tab"></span>
          </div>
        </li>
        <li>
          <a href="/layout/review.html">
            <img src="/img/review_2.png" alt="">
          </a>
          <div class="review_t">
          <span class="main4_name">오삼수님</span>
          <p><span class="review_ct">
            그늘막만 렌탈하고 나머지는 그냥 차박했는데, 장소추천이 좋아서 매우만족이요~~
          </span></p>
          <a href="/layout/review.html" class="xi-tab"></a>
          </div>
        </li>
        <li>
          <a href="/layout/review.html">
            <img src="/img/review_3.png" alt="">
          </a>
          <div class="review_t">
          <span class="main4_name">신청춘님</span>
          <p><span class="review_ct">
            일부러 단풍 이쁜 곳 찾아서 다녀왔는데 손자들도 좋아하고 짱!입니다
          </span></p>
          <span class="xi-tab"></span>
          </div>
        </li>
        <li>
          <a href="/layout/review.html">
            <img src="/img/review_4.png" alt="">
          </a>
          <div class="review_t">
          <span class="main4_name">최고다님</span>
          <p><span class="review_ct">
            처음 해 보는 차박인데 사람도 없고 조용한 곳에서 푹 쉬다 갑니다.
          </span></p>
          <span class="xi-tab"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="media_main_4">
    <a class="review_btn" href="/layout/review.html">베스트 여행가</a>
      <div class="review_box">
        <div class="review_list">
            <a href="/layout/review.html">
              <img src="/img/review_1.png" alt="">
            </a>
            <div class="review_t">
            <span class="main4_name">이요리님</span>
            <p><span class="review_ct">
              캠핑도구 렌탈해서 처음 다녀왔는데 도구도 깨끗하고 재미있었어요!
            </span></p>
            <span class="xi-tab"></span>
            </div>
          </div>
          <div class="review_list">
            <a href="/layout/review.html">
              <img src="/img/review_2.png" alt="">
            </a>
            <div class="review_t">
            <span class="main4_name">오삼수님</span>
            <p><span class="review_ct">
              그늘막만 렌탈하고 나머지는 그냥 차박했는데, 장소추천이 좋아서 매우만족이요~~
            </span></p>
            <a href="/layout/review.html" class="xi-tab"></a>
            </div>
          </div>
          <div class="review_list">
            <a href="/layout/review.html">
              <img src="/img/review_3.png" alt="">
            </a>
            <div class="review_t">
            <span class="main4_name">신청춘님</span>
            <p><span class="review_ct">
              일부러 단풍 이쁜 곳 찾아서 다녀왔는데 손자들도 좋아하고 짱!입니다
            </span></p>
            <span class="xi-tab"></span>
            </div>
          </div>
          <div class="review_list">
            <a href="/layout/review.html">
              <img src="/img/review_4.png" alt="">
            </a>
            <div class="review_t">
            <span class="main4_name">최고다님</span>
            <p><span class="review_ct">
              처음 해 보는 차박인데 사람도 없고 조용한 곳에서 푹 쉬다 갑니다.
            </span></p>
            <span class="xi-tab"></span>
            </div>
          </div>
          <div class="review_list">
      </div>
    </div>
  </div>
  <div class="main_5">
      <div>
        <a href="/layout/event.html#event_1">
          <img src="/img/event_1.png" alt="">
        </a>
      </div>
      <div>
        <a href="/layout/event.html#event_2">
          <img src="/img/event_2.png" alt="">
        </a>
      </div>
      <div>
        <a href="/layout/event.html#event_3">
          <img src="/img/event_3.png" alt="">
        </a>
      </div>
      <div>
        <a href="/layout/event.html#event_4">
          <img src="/img/event_4.png" alt="">
        </a>
      </div>
  </div>
  <div class="bottom_box">
    <div class="main_6">
      <a class="coupon_btn" href="#none">할인쿠폰</a>
      <ul class="coupon_menu">
        <li>
          <div class="coupon">
            <div class="coupon_left">
              <span class="coupon_t1">할인 쿠폰</span>
              <span class="coupon_t2">3,000원</span>
              <span class="coupon_t3">첫번째 예약시</span>
            </div>
            <div class="coupon_right">
              <span id="coupon_dw_01" class="xi-download"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="coupon">
            <div class="coupon_left">
              <span class="coupon_t1">할인 쿠폰</span>
              <span class="coupon_t2">2,000원</span>
              <span class="coupon_t3">추천인 예약시</span>
            </div>
            <div class="coupon_right">
              <span id="coupon_dw_02" class="xi-download"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="coupon">
            <div class="coupon_left">
              <span class="coupon_t1">할인 쿠폰</span>
              <span class="coupon_t2">5,000원</span>
              <span class="coupon_t3">서비스 이용 완료시</span>
            </div>
            <div class="coupon_right">
              <span id="coupon_dw_03" class="xi-download"></span>
            </div>
          </div>
        </li>
      </ul>
      <div class="popup_back">
         <div class="popup">
           <h5>로그인</h5>
           <span class="xi-close login_close"></span>
           <p>로그인이 필요한 기능입니다.<br>
           로그인 페이지로 이동하시겠습니까?</p>
           <a id="cancle" href="#none">취소</a>
           <a id="agree" target="_blank" href="/join/login.html">확인</a>
         </div>
       </div>
    </div>
    <div class="main_7">
      <ul class="tip">
        <li><span class="tip_1">안전수칙</span></li>
        <li><span class="tip_2">캠핑노하우</span></li>
        <li><span class="tip_3">차박노하우</span></li>
      </ul>
      <div class="tab_box_1">
        <p class="tab_name">안전수칙</p>
        <div class="tab_tip">
          <span class="tip_name">교통수단</span>
          <span class="tip_ct">
          <span class="tip_bold">버스 (BUS)</span>
          1. 차량 운행 중에는 반드시 안전벨트 착용<br>
          2. 차량 내 소화기, 비상용 망치, 출입문 개폐용 밸브 등 안전 장비 위치 확인<br>
          3.휴게소에서 도보 이동 시 차량, 사람과의 충돌 주의<br>
          <span class="tip_bold">기차 (TRAIN)</span>
          1. 기차 출발 임박한 시간에 무리하게 탑승 금지<br>
          2. 짐은 선반 깊숙히 안정적으로 수납<br>
          3. 승강장에서의 추락이나 발 빠짐에 주의<br>
          <span class="tip_bold">자동차(CAR)</span>
          1. 운행 중 전 좌석 안전벨트 착용(유아는 카시트 사용)<br>
          2. 운전 중 동영상 시청이나 스마트폰 사용 금지<br>
          3. 렌터카 탑승 시 신체에 맞게 운전석과 룸미러 조절</span>
          <span class="tip_name">자연명승지</span>
          <span class="tip_ct">
          <span class="tip_bold">산, 숲</span>
          1. 출발 전 이동 시간을 확인하고 가족이나 지인에게 행선지를 미리 알림<br>
          2. 등산 시 체력 분배 및 체온 유지 위한 여벌의 옷과 구급약, 비상식량 준비<br>
          3. 등산로가 아닌 곳은 출입하지 않으며, 산에서의 식물 채취 금지<br>
          4. 야생 진드기 예방을 위해 풀밭에 앉을 경우 돗자리를 사용하고, 피부노출 최소화<br>
          5. 벌레나 벌을 자극할 수 있으므로 향이 강한 화장품, 향수 사용 자제<br>
          6. 캠핑장에서 밀폐된 공간 가스용품 사용 금지, 소화도구 비치, 정식등록된 야영장 이용<br>
          <span class="tip_bold">바다, 섬, 갯벌</span>
          1. 떨어지거나 넘어질 수 있으니 테트라포드 위에 올라가지 않기<br>
          2. 너울성 파도 발생 경고 표지판을 확인하고, 파도가 많이 치는 방파제 끝단에 가지 않도록 주의<br>
          3. 해상의 기상상황에 따라 섬에서 나올수 없는 경우가 있으니 날씨를 수시로 확인<br>
          4. 갯벌 방문시 밀물시간전 알람을 맞춰두고 안개와 해무 발생시 바로 철수<br>
          5. 해양 스포츠, 갯벌 체험 시 구명조끼 등 안전장비 착용<br>
          6. 음주 후 수영은 사고력 저하와 저체온증, 심장 질환을 야기하므로 금지<br>
          <span class="tip_bold">강, 계곡</span>
          1. 폭우나 강설, 안개, 돌풍 등 기상 악화 시 방문 자제<br>
          2. 맨발로 계곡 입수 금하고 아쿠아 슈즈 등 기능성 신발 착용<br>
          3. 수상 레포츠 체험은 인증전문업체를 이용하고 구명조끼와 헬멧 작용<br>
          <span class="tip_bold">동굴</span>
          1. 동굴은 바닥이 미끄러우니 이동 시 난간 잡고 지정 통로 이용<br>
          2. 호루라기, 비상 식량, 비상 은박담요 등을 챙겨 위급 상황시 활용<br>
          3. 동굴 내부 훼손하지 않도록 하며 플래시 사용한 사진 촬영 자제</span>
          <span class="tip_name">유원시설</span>
          <span class="tip_ct">
          <span class="tip_bold">테마파크</span>
          1. 보행시 스마트폰 보지 않고, 시설물, 사람과의 충돌에 주의<br>
          2. 놀이기구 탑승시 떨어질 수 있는 물건은 보관함이나 지정된 장소에 보관<br>
          3.  기구 탑승 중 움직임, 일어서는 행동은 부상을 유발할 수 있으므로 주의<br>
          <span class="tip_bold">동물원</span>
          1. 생태계 교란 방지 및 전염병 예방을 위해 반려동물 출입은 자제<br>
          2. 난간에 오르거나 매달리지 않으며 유리창이나 울타리를 두드리지 않음<br>
          3. 동물 체험 전후 사람과 동물 모두의 안전과 위생 위해 손을 깨끗이 씻기</span>
          <span class="tip_name">코로나시기 안전수칙</span>
          <span class="tip_ct">
          1. 마스크 상시 착용<br>
          2. 활동 전후 흐르는 물에 비누로 30초 이상 손 씻기<br>
          3. 손소독제 사용 (출입문, 공용시설,기구 등 접촉 시 필수)<br>
          4. 소독 및 방역에 협조 (발열 및 호흡기 증상 여부, 신원 확인 등)<br>
          5. 타인과 두 팔 간격 건강 거리 유지 (좌석 선택 시, 이동 중, 대기 시)<br>
          6. 밀폐된 공간이나 밀집 지역에 가급적 가지 않기<br>
          7. 공용 화장실 등 공용 구역 및 시설에 오래 머물지 않기<br>
          8. 타인과 악수나 포옹 등 신체 접촉하지 않기<br>
          9. 필요시 수건, 수저 등 개인용품 지참하기<br>
          10. 매표 시 온라인 사전 예매 및 자동 매표기, 무인 키오스크 이용하기<br>
          11. 타인과 현금, 카드, 상품 주고받을 때 손 씻거나 손 소독제 사용하기<br>
          12. 계산 시 가급적 전자 결제 방식 이용하기 (모바일 페이, QR코드, NFC카드 등)<br>
          13. 씻지 않은 손으로 눈, 코, 입 만지지 않기<br>
          14. 발열, 호흡기 증상이 있는 사람과의 접촉 피하기<br>
          15. 귀가 후 목욕 및 외출복 세탁하기</span>
        </div>
        <span class="xi-close xbt_1"></span>
      </div>
      <div class="tab_box_2">
        <p class="tab_name">캠핑노하우</p>
        <div class="tab_tip">
          <span class="tip_name">출발 전 확인하기</span>
          <img src="/img/camp_tip_1.PNG" alt="">
          <span class="tip_ct">
          캠핑을 떠나기 전! 안전한 캠핑을 위해 반드시 챙겨야 할 물건이 있는데요.
          바로 응급 상황에 대비하기 위한 비상용품입니다. 안전사고 발생 시 응급 처치를 통해
          피해를 최소화하기 위해서는 비상 약품이 필요한데요. 비상 약품으로는 소독약,
          연고, 파스, 붕대 등 외상을 위한 약품과 감기약, 소화제, 지사제 등 각자에게
          필요한 약을 챙기는 것이 좋습니다. 또한 켐핑장은 주로 인적이 드문 산속에
          있어 야간에는 시야 확보가 어려운데요. 따라서 휴대용 손전등 및 랜턴 등을
          구비해야 합니다. 이 외에도 가고자 하는 캠핑장이 관광사업자에 정식으로 등록된
          '캠핑장'인지 확인할 필요가 있는데요.
          캠핑장은 한국관광공사 <a href="https://www.gocamping.or.kr/" target="_blank">'고캠핑 홈페이지'</a>
          에서 누구나 쉽게 확인할 수 있습니다.
          </span>
          <span class="tip_name">텐트설치하기</span>
          <img src="/img/camp_tip_2.PNG" alt="">
          <span class="tip_ct">
          텐트는 날씨에 직접적인 영향을 받기 때문에 장소를 선정할 때 각별 주의해야
          하는데요. 우선 지대가 낮은 곳은 비가 많이 내릴 경우 침수할 수 있어 피하는
          것이 안전합니다. 또한 바닥이 평평하고 건조한 장소에 텐트를 치는 것이 좋아요.
          텐트 출입구는 바람이 불어오는 반대 방향으로 잡아야 하는데, 방향을 판단하기
          어려울 때는 입구가 산 아래쪽으로 향하는 것이 안전합니다. 그리고 절벽 아래는
          산사태의 위험이 높기 때문에 텐트를 설치해선 안 됩니다. 또한 깜깜한 야간에
          텐트 줄이 보이지 않아 줄에 걸려 넘어지는 사고를 예방하기 위해서는 텐트 줄에
          야광 테이프 및 손수건을 거는 것이 좋아요. 마지막으로 진입로에 방해물을 두지
          않고 대피로를 미리 파악한다면 긴급 상황에서도 빠르게 대처할 수 있겠죠?
          </span>
          <span class="tip_name">가스 사고 예방하기</span>
          <img src="/img/camp_tip_3.PNG" alt="">
          <span class="tip_ct">
          캠핑할 때는 가스 누출로 인한 질식사고를 조심해야 합니다. 특히 밀폐된 텐트
          안에서 휴대용 가스레인지를 사용할 경우 일산화탄소에 질식될 수 있는데요.
          일산화탄소는 색과 냄새가 없어 알아차리기 어려울 뿐만 아니라 소량으로도 인체에
          치명적인 영향을 끼칠 수 있습니다. 따라서 텐트 안에서는 휴대용 가스레인지를
          절대 사용해서는 안 됩니다. 또한 텐트에서 가스 랜턴을 켜고 잠을 자는 분들이
          종종 있는데요. 이 또한 일산화탄소 및 유해 물질에 질식될 위험이 굉장히 높은
          행동이니 반드시 자제해야 합니다.
          </span>
          <span class="tip_name">화재 사고 예방하기</span>
          <img src="/img/camp_tip_4.PNG" alt="">
          <span class="tip_ct">
          캠핑장에서는 취사 혹은 난방을 위해 불을 사용하는 일이 많기 때문에 언제나
          화자 사고를 주의해야 합니다. 특히 숯불 혹은 모닥불을 피울 때 불씨가 번져
          화재 사고가 발생하는 경우가 많은데요. 따라서 모닥불은 텐트에서 멀리 떨어진
          장소에 피우며, 모닥불 주위에 물을 뿌려 불씨가 번지는 사고를 예방해야 합니다.
          그리고 모닥불 주위에 인화 물질을 두지 않고 휴대용 소화기를 구비한다면 위급
          상황에서도 잘 대처할 수 있겠죠?
          </span>
        </div>
        <span class="xi-close xbt_2"></span>
      </div>
      <div class="tab_box_3">
        <p class="tab_name">차박노하우</p>
        <div class="tab_tip">
          <span class="tip_name">야영과 취사 가능여부 확인하기</span>
          <img src="/img/car_1.PNG" alt="">
          <span class="tip_ct">
          차를 세울 수 있는 공간이 있다고 해서 무조건 차박이 허용되는 것은
          아닙니다. 국립공원, 도립공원, 시립공원, 국유림 임도, 사유지, 해안 방파제에서는
          차박이 금지되어 있습니다. 이 외에도 각 지자체 조례에 따라 야영이 불가능 한
          장소가 있습니다. 또한 하천구역, 산림 인접지역, 공원, 휴게소 주차장에서의
          취사 행위는 불법입니다. 따라서 차박을 떠나기 전 장소를 선택할 때 야영과
          취사가 가능한 장소인지 반드시 알아보고 떠나야 합니다.
          </span>
          <span class="tip_name">보온을 위한 담요, 겉 옷 챙기기</span>
          <img src="/img/car_2.PNG" alt="">
          <span class="tip_ct">
          아침, 저녁으로 쌀쌀해진 가을 날씨에 차박캠핑을 할 때는 체온 보존을 위한
          보온에 신경을 써야 합니다. 도톰한 담요, 핫팩을 챙기고 겉옷을 든든하게
          입는 것이 좋습니다. 차의 시동을 끄면 히터를 사용할 수 없기 때문에 무시동
          히터와 같은 제품을 준비하는 것도 도움이 될 수 있습니다. 하지만 창문을 닫고
          히터를 사용할 경우 산소가 부족할 수 있고 일산화탄소 중독의 위험이 발생할 수
          있습니다. 꼭 차량의 창문을 조금 열어두어 환기가 될 수 있도록 해주고 일정한
          환기 시간이 필요합니다.
          </span>
          <span class="tip_name">차량 내부 평탄화 작업하기</span>
          <img src="/img/car_3.PNG" alt="">
          <span class="tip_ct">
          차량 안에서 잠을 자기 위해서는 '평탄화' 작업이 필수입니다. '평탄화' 란?
          1열 뒤 공간을 평평하게 만들어 잠자리를 확보하는 작업을 일컫는 차박
          용어입니다. 평탄화 작업을 위해서는 먼저 사람이 누울 만한 크기의 공간을
          확보해야 합니다. 대부분 중, 대형 SUV는 2, 3열 좌석을 접는 것만으로도
          잠잘 수 있는 공간이 충분히 만들어집니다. 그리고 확보한 공간을 평평하게
          만드는 작업이 필요한데요. 시트 굴곡이 심하거나 2, 3열과 트렁크 사이에
          낙차가 있을 수 있어 에어매트와 같은 차박용 매트가 필수입니다. 또한
          좌석을 밀거나 당겼을 때 빈 공간이 생기기 때문에 매트나 박스로
          채워줘야 합니다.
          </span>
          <span class="tip_name">화재 사고 대비하기</span>
          <img src="/img/car_4.PNG" alt="">
          <span class="tip_ct">
          차박 캠핑을 할 때 음식 조리를 하게 되면 불을 사용하게 됩니다. 때문에
          화재 사고에 각별한 주의가 필요합니다. 불이 옮겨 붙기 쉬운 마른 잔디나
          풀밭에서의 차박 캠핑을 피하고, 히터나 난로 근처에 쉽게 불타는 물건을
          두지 말아야 합니다. 그리고 화재 사고에 대비해서 차량에 휴대용 소화기를
          꼭 구비해두는 것이 좋습니다.
          </span>
          <span class="tip_name">차 내부 주기적으로 환기시키기</span>
          <img src="/img/car_5.PNG" alt="">
          <span class="tip_ct">
          여름철에 차박 캠핑을 할 때 벌레가 들어오는 것을 막기 위해 창문을 닫고
          잠을 자는 경우가 많습니다. 이런 경우 차 내부에 산소 부족으로 두통을
          유발할 수 있으며 심한 경우 질식사할 수 있습니다. 따라서 자기 전에
          공기 순환을 위해 창문을 살짝 열어두어 차 내부가 환기될 수 있도록
          해야 합니다. 또한 차에서는 석유 난로, 가스 버너를 사용할 경우 가스 중독의
          위험이 발생되기 때문에 반드시 차 밖에서 사용해야 합니다.
          </span>
        </div>
        <span class="xi-close xbt_3"></span>
      </div>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
