<?php include_once('../layout/header.html'); ?>
<section id="intro">
  <div id="pants">
    <div class="intro_01">
      <h1>청춘을<br>여행하라</h1>
      <p><span>How was your youth?</span></p>
      <ul class="section_menu">
        <li>
          <span class="xi-home-o"></span>
          <a href="/layout/bluepants.html">
            HOME
          </a>
        </li>
        <li><a href="#none">브랜드</a></li>
        <li><a href="/layout/bluepants.html">
          소개
        </a></li>
      </ul>
      <a href="#intro_ct"><span class="xi-arrow-down xi-5x"></span></a>
  		<div class="wave">
  			<img src="/img/wave4.png">
  		</div>
    </div>
    <div id="intro_ct">
      <div class="intro_box1">
        <p><span class="intro_tt_01">청춘을 여행하라</span></p>
        <p><span class="intro_ct_01">여유롭게 떠나는 여행. 하지만 여행 준비와 과정은
        누구에게나 만만치 않은 일이죠.</span><span class="intro_ct_01">우리는 여행 앞에 두려움을 지우고자 합니다.</span>
        <span class="intro_ct_01 intro_blue_ct">누구든지 손쉽게 떠날 수 있도록―</span></p>
      </div>
      <div class="intro_box2">
        <p><span class="intro_tt_01 intro_color">우리의 친구는 청바지</span></p>
        <p><span class="intro_ct_01 intro_blue_ct">청춘은 바로 지금</span>
        <span class="intro_ct_01">우리의 청춘은 바로 지금입니다.</span>
        <span class="intro_ct_01">청바지와 함께라면 청춘을 여행하는 모두에게 즐거운 시간을 선물해 드릴게요.</span></p>
      </div>
      <div class="intro_box3">
        <p><span class="intro_tt_01">간단한 여행 가이드</span></p>
        <p><span class="intro_ct_01 intro_color">자세히 검색할 필요 없이, 원하는 카테고리를 고르면
        자동 맞춤 제안이 여행자에게 많은 선택지를 보여줍니다.</span>
        <span class="intro_ct_01 intro_color">이제 고민하지 말고 청바지만 켜면 여행의 모든 순간이
        쉬워집니다.</span></p>
      </div>
      <a href="/layout/reservation.html">
        예약하러 가기
      </a>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
