<?php include_once('../layout/header.html'); ?>
<section id="camping">
  <div class="camp_bg">
    <h1>Camping</h1>
    <ul class="section_menu">
      <li>
        <span class="xi-home-o"></span>
        <a href="/index.html">
          HOME
        </a>
      </li>
      <li><a href="#">브랜드</a></li>
      <li><a href="/layout/car.html">
        캠핑
      </a></li>
    </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <h2>캠핑</h2>
  <div class="place_box_02">
    <p><span>서울</span></p>
    <ul class="place_list_02">
      <li><a href="#"><img src="../img/camp_01.png">
      <span class="place_name_02">중랑캠핑숲</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">서울 중랑구 망우로87길 110</span>
        <a class="camp_phone" href="tel:010-3316-8138">010-3316-8138</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/camp_02.png">
      <span class="place_name_02">강동 그린웨이 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">서울 강동구 둔촌동 562</span>
        <a class="camp_phone" href="tel:02-478-4079">02-478-4079</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/camp_03.png">
      <span class="place_name_02">잠원 한강공원 여름 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">서초구 잠원로 221-124</span>
        <a class="camp_phone" href="tel:02-3780-0531">02-3780-0531</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/camp_04.png">
      <span class="place_name_02">인디언 소울||</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">서울 도봉구 도봉동 275-2</span>
        <a class="camp_phone" href="tel:02-955-3977">02-955-3977</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
    </ul>
  </div>
  <div class="place_box_02">
    <p><span>경기</span></p>
    <ul class="place_list_02">
      <li><a href="#"><img src="../img/camp_05.png">
      <span class="place_name_02">글램비글램핑</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 화성시 서신면 해안길 64</span>
        <a class="camp_phone" href="tel:031-357-7263">031-357-7263</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_06.png">
      <span class="place_name_02">해여림 빌리지</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 여주시 산북면 해여림로 78</span>
        <a class="camp_phone" href="tel:031-882-1700">031-882-1700</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_07.png">
      <span class="place_name_02">물왕 숲 캠핑파크</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 시흥시 동서로 706-88</span>
        <a class="camp_phone" href="tel:0507-1345-4700">0507-1345-4700</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_08.png">
      <span class="place_name_02">힐링 별밤 수목원 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 남양주시 수동면 비룡로 1516-19</span>
        <a class="camp_phone" href="tel:0507-1445-0139">0507-1445-0139</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_02">
    <p><span>가평</span></p>
    <ul class="place_list_02">
      <li><a href="#"><img src="../img/camp_09.png">
      <span class="place_name_02">와이캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 가평군 청평면 강변로 115</span>
        <a class="camp_phone" href="tel:0507-1315-9878">0507-1315-9878</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_10.png">
      <span class="place_name_02">아트살롱 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 가평군 상면 수목원로 181-22</span>
        <a class="camp_phone" href="tel:010-8850-9324">010-8850-9324</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_11.png">
      <span class="place_name_02">개울가 오토캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 가평군 설악면 유명로 654-58</span>
        <a class="camp_phone" href="tel:010-8854-7958">010-8854-7958</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_12.png">
      <span class="place_name_02">푸른숲 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경기 가평군 설악면 유명산길<br>61-108 푸른숲황토방민박</span>
        <a class="camp_phone" href="tel:0507-1444-8577">0507-1444-8577</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_02">
    <p><span>경상도</span></p>
    <ul class="place_list_02">
      <li><a href="#"><img src="../img/camp_13.png">
      <span class="place_name_02">캠프안단테</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경북 청도군 청도읍 청매로 283-47</span>
        <a class="camp_phone" href="tel:054-373-3305">054-373-3305</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_14.png">
      <span class="place_name_02">한밤 솔담길 오토캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경북 군위군 부계면 한밤8길 2</span>
        <a class="camp_phone" href="tel:0507-1408-3660">0507-1408-3660</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_15.png">
      <span class="place_name_02">청송 오토캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경북 청송군 부남면 얼음골로 690</span>
        <a class="camp_phone" href="tel:054-874-0300">054-874-0300</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_16.png">
      <span class="place_name_02">칠곡보 오토캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">경북 칠곡군 약목면 관호리 8</span>
        <a class="camp_phone" href="tel:054-974-9772">054-974-9772</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
  <div class="place_box_02">
    <p><span>전라도</span></p>
    <ul class="place_list_02">
      <li><a href="#"><img src="../img/camp_17.png">
      <span class="place_name_02">덕유대 오토캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">전북 무주군 설천면 백련사길 2</span>
        <a class="camp_phone" href="tel:063-322-3173">063-322-3173</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_18.png">
      <span class="place_name_02">고사포 야영장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">전북 부안군 변산면 운산리 441-11</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_19.png">
      <span class="place_name_02">구시포 노을 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">전북 고창군 상하면 구시포안길 38</span>
        <a class="camp_phone" href="tel:0507-1401-2627">0507-1401-2627</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
      <li><a href="#"><img src="../img/camp_20.png">
      <span class="place_name_02">도란도란 캠핑장</span></a>
      <div class="hover_box_02">
        <span class="camp_adress">전북 전주시 완산구 간납로 13</span>
        <a class="camp_phone" href="tel:010-2525-1099">010-2525-1099</a>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
    </div></li>
    </ul>
  </div>
<?php include_once('../layout/footer.html'); ?>
