<?php include_once('../layout/header.html'); ?>
<section id="car">
  <div class="car_bg">
    <h1>Autocamping</h1>
    <ul class="section_menu">
      <li>
        <span class="xi-home-o"></span>
        <a href="/index.html">
          HOME
        </a>
      </li>
      <li><a href="#">브랜드</a></li>
      <li><a href="/layout/car.html">
        차박
      </a></li>
    </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <h2>차박</h2>
  <div class="place_box_03">
    <ul class="place_list_03">
      <li><a href="#"><img src="../img/car_01.png">
      <span class="place_name_03">인천 실미유원지</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">인천광역시 중구 큰무리로 99</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_02.png">
      <span class="place_name_03">충주수주팔봉 캠핑장</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">충북 충주시 대소원면 문주리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_03.png">
      <span class="place_name_03">영종도 마시안해변</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">인천광역시 중구 마시란로 118</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_04.png">
      <span class="place_name_03">강릉 순긋해변</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">강원도 강릉시 안현동</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
    </ul>
  </div>
  <div class="place_box_03">
    <ul class="place_list_03">
      <li><a href="#"><img src="../img/car_05.png">
      <span class="place_name_03">포항 도구해수욕장</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경상북도 포항시 남구 동해면 도구리 729-17</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_06.png">
      <span class="place_name_03">홍천 모곡밤벌유원지</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">강원도 홍천군 서면 밤벌길 133</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_07.png">
      <span class="place_name_03">가평 어비계곡</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기도 가평군 설악면 천안리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_08.png">
      <span class="place_name_03">충주 수주팔봉캠핑장</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">충북 충주시 살미면 토계리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
    </ul>
  </div>
  <div class="place_box_03">
    <ul class="place_list_03">
      <li><a href="#"><img src="../img/car_09.png">
      <span class="place_name_03">제부도 선착장</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 화성시 서신면 제부리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_10.png">
      <span class="place_name_03">안성 탄로항</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 안산시 단원구 선감동 717-5</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_11.png">
      <span class="place_name_03">화성 전곡항</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 화성시 서신면 전곡리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_12.png">
      <span class="place_name_03">화성 궁평항</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 화성시 서신면 궁평항로 1049-24</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
    </ul>
  </div>
  <div class="place_box_03">
    <ul class="place_list_03">
      <li><a href="#"><img src="../img/car_13.png">
      <span class="place_name_03">평택호</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 평택시 현덕면 대안리 1396</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_14.png">
      <span class="place_name_03">충주 비내섬</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">충북 충주시 앙성면 조천리 412</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_15.png">
      <span class="place_name_03">경주 청룡폭포</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경주시 산내면 단석로 691</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div></li>
      <li><a href="#"><img src="../img/car_16.png">
      <span class="place_name_03">연천 주상절리</span></a>
      <div class="hover_box_03">
        <span class="camp_adress">경기 연천군 미산면 동이리</span>
        <span class="xi-heart-o heart"></span>
        <span class="xi-heart red_heart"></span>
      </div>
    </li>
  </ul>
</div>

<?php include_once('../layout/footer.html'); ?>
