<?php include_once('../layout/header.html'); ?>
<section id="e_mail">
  <div class="container">
    <h2>이메일 무단수집 거부</h2>
    <div class="e_box">
      <span class="e_img">
        <img src="../img/e-mail.png" alt="">
      </span>
      <p class="e_ct">
        본 웹사이트에 게시된 이메일주소가 전자우편수집 프로그램이나<br>
        그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며,<br>
        이를 위반 시 정보통신망법에 의해 형사 처벌됩니다.
      </p>
      <span class="e_t">
        게시일 : 2020년 12월 22일
      </span>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
