<?php include_once('../layout/header.html'); ?>
<section id="event">
  <div class="event_box">
    <div class="event_bg">
      <h1>Event</h1>
      <ul class="section_menu">
        <li>
          <span class="xi-home-o"></span>
          <a href="/layout/bluepants.html">
            HOME
          </a>
        </li>
        <li><a href="#none">함께하기</a></li>
        <li><a href="/layout/event.html">
          이벤트
        </a></li>
      </ul>
      <div class="wave">
        <img src="/img/wave4.png">
      </div>
    </div>
    <div class="event_box_01">
      <ul class="event_list">
        <li>
          <input type="radio" name="event" id="ongoing_event" checked>
          <label for="ongoing_event">진행중인 이벤트</label>
          <div class="event_01">
            <ul class="event_list_01">
              <li><a id="event_1" href="#none"><img src="../img/ing_event_01.png">
                <span class="event_ct_01">기간 : 2020.11.01~2020.12.31</span>
                <span class="event_ct_02">대상 : 예약 완료 후 리뷰 작성 완료 회원만 해당</span>
              </a></li>
              <li><a id="event_2" href="#none"><img src="../img/ing_event_02.png">
                <span class="event_ct_01">기간 : 2021.01.01~2021.02.28</span>
                <span class="event_ct_02">대상 : 회원 중 예약시에 신한카드 결제회원만 해당</span>
              </a></li>
              <li><a id="event_3" href="#none"><img src="../img/ing_event_03.png">
                <span class="event_ct_01">기간 : 2021.03.01~2021.06.30</span>
                <span class="event_ct_02">대상 : 청바지 이용하는 모든 고객에 해당</span>
              </a></li>
              <li><a id="event_4" href="#none"><img src="../img/ing_event_04.png">
                <span class="event_ct_01">기간 : 2020.12.31~2021.01.31</span>
                <span class="event_ct_02">대상 : 만47세 이상 회원 해당</span>
              </a></li>
            </ul>
           </div>
        </li>
        <li>
          <input type="radio" name="event" id="end_event">
          <label for="end_event">종료된 이벤트</label>
          <div class="event_01">
            <ul class="event_list_01">
              <li><a href="#none"><img src="../img/end_event_01.png">
                <span class="event_ct_01">기간 : 만료</span>
                <span class="event_ct_02">대상 : 예약 완료 후 리뷰 작성 완료 회원만 해당</span>
              </a></li>
              <li><a href="#none"><img src="../img/end_event_02.png">
                <span class="event_ct_01">기간 : 만료</span>
                <span class="event_ct_02">대상 : 경주 여행 후 인증샷 올린 회원만 해당</span>
                </a></li>
              <li><a href="#none"><img src="../img/end_event_03.png">
                <span class="event_ct_01">기간 : 만료</span>
                <span class="event_ct_02">대상 : 속초 예약 확인 된 회원에 한해서 발급</span>
                </a></li>
            </ul>
          </div>
      </li>
      </ul>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
