<section>
  <div id="fix_btn">
      <a href="/file/bluepants.pdf" class="fix_down" download="이엄지 기획서">
        기획서<br>다운로드
      </a>
  </div>
</section>
<footer id="footer">
  <div class="container">
			<div class="footer">
				<div class="footer_left">
					<ul class="foot_menu">
						<li>
							<p>브랜드</p>
							<ul>
                <li><a href="/layout/brand.html">소개</a></li>
                <li><a href="/layout/map.html">오시는 길</a></li>
							</ul>
						</li>
						<li>
							<p>여행가기</p>
							<ul>
                <li><a href="/layout/trip.html">여행가기</a></li>
                <li><a href="/layout/lent.html">렌탈서비스</a></li>
							</ul>
						</li>
						<li>
							<p>함께하기</p>
							<ul>
                <li><a href="/layout/review.html">베스트여행가</a></li>
                <li><a href="/layout/event.html">이벤트</a></li>
							</ul>
						</li>
						<li>
							<p>고객센터</p>
							<ul>
                <li><a href="/layout/notice.html">공지사항</a></li>
                <li><a href="/layout/QnA.html">QnA</a></li>
                <li><a href="/layout/service.html">문의하기</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="footer_center">
					<ul class="terms">
						<li><a href="/layout/privacy.html" style="color:#0772d0;">개인정보 처리방침</a></li>
						<li><a href="/layout/e_mail.html">이메일무단수집거부</a></li>
					</ul>
				</div>
				<div class="footer_right">
					<div class="f_box">
						  <span class="family_t">Family site</span>
              <span class="xi-angle-up-min"></span>
							<div class="f_right">
                <span class="xi-close-min"></span>
								<p>Family Site</p>
								<ul class="tab">
									<li><a target="_blank" href="https://www.airbnb.co.kr/">
                    에어비앤비</a></li>
									<li><a target="_blank" href="https://kr.trip.com/?NaPm=ct%3Dkj10rgoo%7Cci%3Dcheckout%7Ctr%3Dds%7Ctrx%3D%7Chk%3D4cdc40af3db5a3b966934a9dfc9ef54799fdba64">
                    트립닷컴</a></li>
									<li><a target="_blank" href="https://tripeasy.co.kr/user/index.php">
                    트립이지</a></li>
									<li><a target="_blank" href="https://www.skyscanner.co.kr/">
                    스카이스캐너
                  </a></li>
								</ul>
							</div>
					</div>
				</div>
        <div class="top">
          <span class="xi-valign-top"></span>
          <span class="top_t">TOP</span>
        </div>
				<div class="footer_bottom">
					<div class="fb_left">
						<ul class="add">
							<li>주소 : 서울특별시 강남구 영동대로 123, 높은빌딩</li>
							<li><a href="tel:010-5317-0059">
                010-5317-0059
              </a></li>
							<li>Fax : 02-1004-7777 </li>
						</ul>
					</div>
					<div class="fb_right">
            <p class="copy">ⓒ Bluepants. All rights reserved. </p>
          </div>
				</div>
			</div>
		</div>
</footer>
</body>
</html>
