<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="시니어들도 함께하는 여행">
  <meta name="keywords" content="여행,자유여행,캠핑,차박,배낭여행,뚜벅이여행">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bluepants</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Song+Myung&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/scss/index.min.css">
  <!--<link rel="stylesheet" href="/css/index.css">-->
  <!--<link rel="stylesheet" href="/css/sub.css">>-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><!--버튼색채워지는jq-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/unslider.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/scroll_lib.js"></script>
  <script src="http://stephband.info/jquery.event.move/js/jquery.event.move.js"></script>
  <script src="http://stephband.info/jquery.event.swipe/js/jquery.event.swipe.js"></script>
  <script src="/js/home.js"></script>
</head>
<body>
  <header id="header">
    <div class="sbg"></div>
    <div class="head">
      <nav class="container">
       <h1><a href="/index.html"><img src="/img/logo0.png" alt=""></a></h1>
        <ul class="depth_01">
          <li>
            <a href="#">브랜드</a>
            <div class="ab_box_01 left_ab">
              <div class="left">
                <img src="/img/menu_img_01.png" alt="">
                <p>브랜드</p>
                <span>
                  여러분의 도전을 응원하는<br>
                  청바지입니다.
                </span>
              </div>
              <div class="right">
                <ul class="depth_02">
                  <li><a href="/layout/bluepants.html">소개</a></li>
                  <li><a href="/layout/map.html">오시는 길</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">여행가기</a>
            <div class="ab_box_01">
              <div class="left">
                <img src="/img/menu_img_02.png" alt="">
                <p>여행가기</p>
                <span>
                  좋은 장소, 좋은 사람들과<br>
                  함께 하는 여행.
                </span>
              </div>
              <div class="right">
                <ul class="depth_02">
                  <li><a href="/layout/trip.html">여행가기</a></li>
                  <li><a href="/layout/lent.html">렌탈서비스</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">함께하기</a>
            <div class="ab_box_01">
              <div class="left">
                <img src="/img/menu_img_03.png" alt="">
                <p>함께하기</p>
                <span>
                  우리의 청춘은 당연하지 않아요.<br>
                  당신의 청춘을 보여주세요.
                </span>
              </div>
              <div class="right">
                <ul class="depth_02">
                  <li><a href="/layout/review.html">베스트여행가</a></li>
                  <li><a href="/layout/event.html">이벤트</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#">고객센터</a>
            <div class="ab_box_01 right_ab">
              <div class="left">
                <img src="/img/menu_img_04.png" alt="">
                <p>고객센터</p>
                <span>
                  불편사항이 있으세요?<br>
                  빠르게 도와드리겠습니다.
                </span>
              </div>
              <div class="right">
                <ul class="depth_02">
                  <li><a href="/layout/notice.html">공지사항</a></li>
                  <li><a href="/layout/QnA.html">QnA</a></li>
                  <li><a href="/layout/service.html">문의하기</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <ul class="depth_03">
          <li><a href="/join/login.html" target="_blank">로그인</a></li>
          <li><a href="/join/join.html" target="_blank">회원가입</a></li>
          <li><span class="xi-bars"></span></li>
        </ul>
      </nav>
    </div>
  </header>
