<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="시니어들도 함께하는 여행">
  <meta name="keywords" content="여행,자유여행,캠핑,차박,배낭여행,뚜벅이여행">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bluepants</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link href = "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--css-->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/scss/index.min.css">
  <link rel="stylesheet" href="/scss/media.min.css">
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="/css/only-ie.css" />
  <![endif]-->
  <!--favicon-->
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">
  <!--jq-->
  <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><!--버튼색채워지는jq-->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/unslider.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/scroll_lib.js"></script>
  <script src="http://stephband.info/jquery.event.move/js/jquery.event.move.js"></script>
  <script src="http://stephband.info/jquery.event.swipe/js/jquery.event.swipe.js"></script>
  <script defer src="/js/home.js"></script>
  <script defer src="/js/sub.js"></script>
</head>
<body>
  <header id="header">
    <div class="sbg"></div>
    <div class="head">
      <div class="container">
       <h1>
         <a href="/layout/bluepants.html"><img src="/img/logo.png" alt=""></a>
       </h1>
       <nav>
          <ul class="depth_01">
            <li>
              <a href="/layout/brand.html">브랜드</a>
              <div class="ab_box_01 left_ab">
                <div class="left">
                  <img src="/img/menu_img_01.png" alt="">
                  <p>브랜드</p>
                  <span>
                    여러분의 도전을 응원하는<br>
                    청바지입니다.
                  </span>
                </div>
                <div class="right">
                  <ul class="depth_02">
                    <li><a href="/layout/brand.html">소개</a></li>
                    <li><a href="/layout/map.html">오시는 길</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="/layout/trip.html">여행가기</a>
              <div class="ab_box_01">
                <div class="left">
                  <img src="/img/menu_img_02.png" alt="">
                  <p>여행가기</p>
                  <span>
                    좋은 장소, 좋은 사람들과<br>
                    함께 하는 여행.
                  </span>
                </div>
                <div class="right">
                  <ul class="depth_02">
                    <li><a href="/layout/trip.html">여행가기</a></li>
                    <li><a href="/layout/lent.html">렌탈서비스</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="/layout/review.html">함께하기</a>
              <div class="ab_box_01">
                <div class="left">
                  <img src="/img/menu_img_03.png" alt="">
                  <p>함께하기</p>
                  <span>
                    우리의 청춘은 당연하지 않아요.<br>
                    당신의 청춘을 보여주세요.
                  </span>
                </div>
                <div class="right">
                  <ul class="depth_02">
                    <li><a href="/layout/review.html">베스트여행가</a></li>
                    <li><a href="/layout/event.html">이벤트</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="/layout/service.html">고객센터</a>
              <div class="ab_box_01 right_ab">
                <div class="left">
                  <img src="/img/menu_img_04.png" alt="">
                  <p>고객센터</p>
                  <span>
                    불편사항이 있으세요?<br>
                    빠르게 도와드리겠습니다.
                  </span>
                </div>
                <div class="right">
                  <ul class="depth_02">
                    <li><a href="/layout/notice.html">공지사항</a></li>
                    <li><a href="/layout/QnA.html">QnA</a></li>
                    <li><a href="/layout/service.html">문의하기</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <ul class="depth_03">
          <li><a href="/join/login.html" target="_blank">로그인</a></li>
          <li><a href="/join/join.html" target="_blank">회원가입</a></li>
          <li><span id="origin_btn" class="xi-bars"></span></li>
          <li><span id="media_btn" class="xi-bars"></span></li>
        </ul>
      </div>
      <div class="all_menu">
        <div class="m_bg"></div>
        <div class="menubg">
          <div class="am_left">
            <h3>SITE MAP</h3>
            <span class="xi-close media_close"></span>
          </div>
          <div class="am_right">
            <ul class="amr_d1">
              <li>
                <a href="javascript:void(0);">브랜드</a>
                <ul class="amr_d2">
                  <li><a href="/layout/brand.html">소개</a></li>
                  <li><a href="/layout/map.html">오시는 길</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">여행하기</a>
                <ul class="amr_d2">
                  <li><a href="/layout/trip.html">여행가기</a></li>
                  <li><a href="/layout/lent.html">렌탈서비스</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">함께하기</a>
                <ul class="amr_d2">
                  <li><a href="/layout/review.html">베스트여행가</a></li>
                  <li><a href="/layout/event.html">이벤트</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">고객센터</a>
                <ul class="amr_d2">
                  <li><a href="/layout/notice.html">공지사항</a></li>
                  <li><a href="/layout/QnA.html">QnA</a></li>
                  <li><a href="/layout/service.html">문의하기</a></li>
                </ul>
              </li>
            </ul>
            <ul class="amr_bt">
              <li><a href="/layout/privacy.html"><em>개인정보 처리방침</em></a></li>
              <li><a href="/layout/e_mail.html">이메일무단수집거부</a></li>
            </ul>
          </div>
          <span class="xi-close-circle close"></span>
        </div>
      </div>
      <!--media menu-->
      <div id="media_menu">
        <div class="m_bg"></div>
        <div class="menubg">
          <div class="am_left">
            <h3>SITE MAP</h3>
            <span class="xi-close media_close"></span>
          </div>
          <div class="am_right">
            <ul class="amr_d1">
              <li>
                <a href="javascript:void(0);">브랜드
                <span class="menu_plus"></span></a>
                <ul class="amr_d2">
                  <li><a href="/layout/brand.html">소개</a></li>
                  <li><a href="/layout/map.html">오시는 길</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">여행하기
                <span class="menu_plus"></span></a>
                <ul class="amr_d2">
                  <li><a href="/layout/trip.html">여행가기</a></li>
                  <li><a href="/layout/lent.html">렌탈서비스</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">함께하기
                <span class="menu_plus"></span></a>
                <ul class="amr_d2">
                  <li><a href="/layout/review.html">베스트여행가</a></li>
                  <li><a href="/layout/event.html">이벤트</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0);">고객센터
                <span class="menu_plus"></span></a>
                <ul class="amr_d2">
                  <li><a href="/layout/notice.html">공지사항</a></li>
                  <li><a href="/layout/QnA.html">QnA</a></li>
                  <li><a href="/layout/service.html">문의하기</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
