<?php include_once('../layout/header.html'); ?>
<section id="hot_place">
  <div class="place_bg">
    <h1>Hotplace</h1>
    <ul class="section_menu">
      <li>
        <span class="xi-home-o"></span>
        <a href="/index.html">
          HOME
        </a>
      </li>
      <li><a href="#">브랜드</a></li>
      <li><a href="/layout/hotplace.html">
        핫플레이스
      </a></li>
    </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <h2>핫플레이스</h2>
  <div class="place_box_01">
    <p><span>제주도</span></p>
    <ul class="place_list_01">
      <li><a href="#"><img src="../img/jeju_01.png">
      <span class="place_name_01">올레길</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeju_02.png">
      <span class="place_name_01">사려니숲</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeju_03.png">
      <span class="place_name_01">동문재래시장</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeju_04.png">
      <span class="place_name_01">성산일출봉</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
    </ul>
  </div>
  <div id="popular" class="place_box_01">
    <p><span>부산</span></p>
    <ul class="place_list_01">
      <li><a href="#"><img src="../img/busan_01.png">
      <span class="place_name_01">감천문화마을</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/busan_02.png">
      <span class="place_name_01">광안대교</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/busan_03.png">
      <span class="place_name_01">송도해수욕장</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/busan_04.png">
      <span class="place_name_01">용궁사</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
    </ul>
  </div>
  <div class="place_box_01">
    <p><span>강원도</span></p>
    <ul class="place_list_01">
      <li><a href="#"><img src="../img/gangwon_01.png">
      <span class="place_name_01">대관령 양떼목장</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gangwon_02.png">
      <span class="place_name_01">설악산</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gangwon_03.png">
      <span class="place_name_01">양양해수욕장</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gangwon_04.png">
      <span class="place_name_01">인제 빙어축제</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
    </ul>
  </div>
  <div class="place_box_01">
    <p><span>경주</span></p>
    <ul class="place_list_01">
      <li><a href="#"><img src="../img/gyeongju_01.png">
      <span class="place_name_01">대릉원</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gyeongju_02.png">
      <span class="place_name_01">불국사</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gyeongju_03.png">
      <span class="place_name_01">동궁과 월지</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/gyeongju_04.png">
      <span class="place_name_01">첨성대</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
    </ul>
  </div>
  <div class="place_box_01">
    <p><span>전라남도&경상남도</span></p>
    <ul class="place_list_01">
      <li><a href="#"><img src="../img/jeaonra_01.png">
      <span class="place_name_01">순천만습지</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeaonra_02.png">
      <span class="place_name_01">여수 오동도</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeaonra_03.png">
      <span class="place_name_01">순천 낙안읍성</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
      <li><a href="#"><img src="../img/jeaonra_04.png">
      <span class="place_name_01">지리산</span></a>
      <div class="hover_box_01"><span class="xi-heart-o heart"></span>
      <span class="xi-heart red_heart"></span></div></li>
    </ul>
  </div>
</section>

<?php include_once('../layout/footer.html'); ?>
