<?php include_once('../layout/header.html'); ?>
<section id="lent">
  <div class="lent_bg">
    <h1>Lender</h1>
    <ul class="section_menu">
      <li>
        <span class="xi-home-o"></span>
        <a href="/layout/bluepants.html">
          HOME
        </a>
      </li>
      <li><a href="#none;">여행가기</a></li>
      <li><a href="/layout/lent.html">
        렌탈서비스
      </a></li>
    </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <h2>렌탈서비스</h2>
  <div id="lent_div_01" class="lent_box_01">
    <p><span>캠핑패키지</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_01.png">
        <div class="price_box">
          <span class="lent_name_01">코리아 문리버2 4인 캠핑세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 158,850원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div>
      </li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_02.png">
        <div class="price_box">
          <span class="lent_name_01">3인 컴팩트 세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 93,600원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_03.png">
        <div class="price_box">
          <span class="lent_name_01">4인 기본세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 53,550원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_04.png">
        <div class="price_box">
          <span class="lent_name_01">3인 오토텐트기본세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 53,550원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_05.png">
        <div class="price_box">
          <span class="lent_name_01">3인 야전침대 캠핑세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 93,600원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_06.png">
        <div class="price_box">
          <span class="lent_name_01">3인 퍼펙트 오토캠핑 패키지(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 94,200원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_07.png">
        <div class="price_box">
          <span class="lent_name_01">4인 피크닉세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 54,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_08.png">
        <div class="price_box">
          <span class="lent_name_01">4인 오토기본세트(10%할인)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 63,900원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_02"class="lent_box_01">
    <p><span>텐트/타프</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_09.png">
        <div class="price_box">
          <span class="lent_name_01">이지캠프 티피텐트 4-5인용</span>
          <span class="lent_price_01">2박 3일 대여요금 : 23,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_10.png">
        <div class="price_box">
          <span class="lent_name_01">버팔로 프로페셔널 렉타타프</span>
          <span class="lent_price_01">2박 3일 대여요금 : 26,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_11.png">
        <div class="price_box">
          <span class="lent_name_01">캠프타운 어드벤쳐6 (5-6인 자동)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 35,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_12.png">
        <div class="price_box">
          <span class="lent_name_01">대형 헥사타프 (버팔로 or 캠프타운)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 18,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div class="lent_box_01">
    <p><span>원터치텐트</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_13.png">
        <div class="price_box">
          <span class="lent_name_01">캠프타운 어드벤쳐5 (4-5인용 오토)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 27,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_14.png">
        <div class="price_box">
          <span class="lent_name_01">버팔로 말라무3 (3-4인용)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 24,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_15.png">
        <div class="price_box">
          <span class="lent_name_01">캠프타운 Elpaso300A 10인용 원터치 텐트</span>
            <span class="lent_price_01">2박 3일 대여요금 : 40,000원</span>
          </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_16.png">
        <div class="price_box">
          <span class="lent_name_01">에델바이스 6-7인용 오토텐트</span>
          <span class="lent_price_01">2박 3일 대여요금 : 35,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_03" class="lent_box_01">
    <p><span>매트/침낭</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_17.png">
        <div class="price_box">
          <span class="lent_name_01">버팔로 2인용 캠핑매트</span>
          <span class="lent_price_01">2박 3일 대여요금 : 3,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_18.png">
        <div class="price_box">
          <span class="lent_name_01">야전침대</span>
          <span class="lent_price_01">2박 3일 대여요금 : 8,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_19.png">
        <div class="price_box">
          <span class="lent_name_01">사계절 침낭 (세탁완료)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 6,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_20.png">
        <div class="price_box">
          <span class="lent_name_01">베개 or 담요</span>
          <span class="lent_price_01">2박 3일 대여요금 : 3,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_04" class="lent_box_01">
    <p><span>코펠/버너/취사</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_21.png">
        <div class="price_box">
          <span class="lent_name_01">휴대용 가스렌지</span>
          <span class="lent_price_01">2박 3일 대여요금 : 4,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_22.png">
        <div class="price_box">
          <span class="lent_name_01">트윈버너</span>
          <span class="lent_price_01">2박 3일 대여요금 : 8,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_23.png">
        <div class="price_box">
          <span class="lent_name_01">1-2인용 스테인레스 코펠</span>
          <span class="lent_price_01">2박 3일 대여요금 : 4,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_24.png">
        <div class="price_box">
          <span class="lent_name_01">5-6인용 코펠세트</span>
          <span class="lent_price_01">2박 3일 대여요금 : 6,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_05" class="lent_box_01">
    <p><span>체어/테이블/기타</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_25.png">
        <div class="price_box">
          <span class="lent_name_01">폴딩로우체어</span>
          <span class="lent_price_01">2박 3일 대여요금 : 6,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_26.png">
        <div class="price_box">
          <span class="lent_name_01">4인용 캠핑 테이블</span>
          <span class="lent_price_01">2박 3일 대여요금 : 8,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_27.png">
        <div class="price_box">
          <span class="lent_name_01">LED 랜턴</span>
          <span class="lent_price_01">2박 3일 대여요금 : 3,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_28.png">
        <div class="price_box">
          <span class="lent_name_01">버팔로 뉴와이드 캠핑체어</span>
            <span class="lent_price_01">2박 3일 대여요금 : 6,000원</span>
          </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_06" class="lent_box_01">
    <p><span>화로대/BBQ</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_29.png">
        <div class="price_box">
          <span class="lent_name_01">구이용 불판</span>
          <span class="lent_price_01">2박 3일 대여요금 : 4,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_30.png">
        <div class="price_box">
          <span class="lent_name_01">5-6인용 바베큐 그릴</span>
          <span class="lent_price_01">2박 3일 대여요금 : 15,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_31.png">
        <div class="price_box">
          <span class="lent_name_01">5-6인용 화로대</span>
          <span class="lent_price_01">2박 3일 대여요금 : 15,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_32.png">
        <div class="price_box">
          <span class="lent_name_01">캠핑용 전기온풍기</span>
          <span class="lent_price_01">2박 3일 대여요금 : 6,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
  <div id="lent_div_07" class="lent_box_01">
    <p><span>백패킹</span></p>
    <ul class="lent_list_01">
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_33.png">
        <div class="price_box">
          <span class="lent_name_01">80L 배낭</span>
          <span class="lent_price_01">2박 3일 대여요금 : 15,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_34.png">
        <div class="price_box">
          <span class="lent_name_01">경량체어 (백팩용)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 2,500원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_35.png">
        <div class="price_box">
          <span class="lent_name_01">경량테이블 (백팩용)</span>
          <span class="lent_price_01">2박 3일 대여요금 : 5,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
      <li><a href="/layout/lent_detail.html"><img src="../img/lent_36.png">
        <div class="price_box">
          <span class="lent_name_01">버팔로 1-2인용 텐트</span>
          <span class="lent_price_01">2박 3일 대여요금 : 22,000원</span>
        </div></a>
        <div class="hover_box_02">
          <span class="xi-star-o"></span>
          <span class="xi-star"></span>
        </div></li>
    </ul>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
