<?php include_once('../layout/header.html'); ?>
<section id="lent_qna">
  <div class="lq_box1">
    <h2>렌탈QnA</h2>
    <span class="lq_name">
      렌탈에 관한 궁금하신 질문을 올려주세요.
   내용에 맞지 않는 게시물은 관리자의 권한으로 삭제합니다.</span>
  </div>
  <div class="lq_box">
      <div class="lq_box2">
        <span class="tt_01">번호</span>
        <span class="tt_02">상품정보</span>
        <span class="tt_03">제목</span>
        <span class="tt_04">작성자</span>
        <span class="tt_05">작성일</span>
        <span class="tt_06">조회</span>
      </div>
      <div class="lq_list_box">
        <div class="lq_list_01">
          <span>982</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">코리아 문리버2 4인 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>sork96</span>
        </div><div class="lq_list_05">
          <span>2021-01-02</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>981</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">3인 야전침대 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>qkfh02</span>
        </div><div class="lq_list_05">
          <span>2020-12-29</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>980</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">캠프타운 어드벤쳐6</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">장비관련 문의</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>s090s</span>
        </div><div class="lq_list_05">
          <span>2020-10-22</span>
        </div><div class="lq_list_06">
          <span>3</span>
        </div>
        <div class="lq_list_01">
          <span>979</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">코리아 문리버2 4인 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>zzangzoa</span>
        </div><div class="lq_list_05">
          <span>2020-06-26</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>978</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">캠프타운 어드벤쳐6</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>gooodth12</span>
        </div><div class="lq_list_05">
          <span>2020-05-03</span>
        </div><div class="lq_list_06">
          <span>3</span>
        </div>
        <div class="lq_list_01">
          <span>977</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">캠프타운 어드벤쳐6</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>gkdl012</span>
        </div><div class="lq_list_05">
          <span>2020-04-17</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>976</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">코리아 문리버2 4인 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">예약취소 관련 문의</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>skak6792</span>
        </div><div class="lq_list_05">
          <span>2020-03-22</span>
        </div><div class="lq_list_06">
          <span>2</span>
        </div>
        <div class="lq_list_01">
          <span>975</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">캠프타운 어드벤쳐6</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>dkdlel63</span>
        </div><div class="lq_list_05">
          <span>2020-02-18</span>
        </div><div class="lq_list_06">
          <span>2</span>
        </div>
        <div class="lq_list_01">
          <span>974</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">3인 야전침대 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">반납관련 문의</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>cyzhdhkd93</span>
        </div><div class="lq_list_05">
          <span>2020-02-13</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>973</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">대형 헥사타프</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>chlrh99</span>
        </div><div class="lq_list_05">
          <span>2020-01-21</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
        <div class="lq_list_01">
          <span>972</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">코리아 문리버2 4인 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>djfuqek</span>
        </div><div class="lq_list_05">
          <span>2019-12-30</span>
        </div><div class="lq_list_06">
          <span>2</span>
        </div>
        <div class="lq_list_01">
          <span>971</span>
        </div><div class="lq_list_02">
          <a href="/layout/lent_detail.html">코리아 문리버2 4인 캠핑세트</a>
        </div><div class="lq_list_03">
          <a href="/layout/lent_qna_pw.html">궁금합니다</a>
          <span class="xi-lock-o"></span>
        </div><div class="lq_list_04">
          <span>rufdhkd7</span>
        </div><div class="lq_list_05">
          <span>2019-12-11</span>
        </div><div class="lq_list_06">
          <span>1</span>
        </div>
      </div>
    </div>
    <div class="num_box">
      <span class="xi-angle-left-min"></span>
      <span class="red_num">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span class="xi-angle-right-min"></span>
    </div>
    <div class="search_box">
      <span class="s_tt">검색어</span>
      <select id="search_day">
        <optgroup>
          <option value="week">일주일</option>
          <option value="month">한달</option>
          <option value="3month">세달</option>
          <option value="all">전체</option>
        </optgroup>
      </select>
      <select id="search_ctg">
        <optgroup>
          <option value="title">제목</option>
          <option value="content">내용</option>
          <option value="user">이름</option>
          <option value="id">아이디</option>
          <option value="lentname">상품정보</option>
        </optgroup>
      </select>
      <input type="text" maxlength="15">
      <button class="search_btn">검색</button>
    </div>
</section>
<?php include_once('../layout/footer.html'); ?>
