<?php include_once('../layout/header.html'); ?>
<section id="detail">
  <div class="top_box">
    <div class="left_box">
      <img src="../img/lent_detail.png" alt="">
    </div>
    <div class="right_box">
      <div class="tt_box1">
        <span class="recommend">추천</span>
        <span class="popular">인기상품</span>
        <h1>코베아 문리버2 4인 캠핑세트(10%할인)</h1>
      </div>
      <div class="tt_box2">
        <span class="detail_nm">상품명</span>
        <span class="detail_ct ct1">코리아 문리버2 4인 캠핑세트(10%할인)</span>
      </div>
      <div class="tt_box2">
        <span class="detail_nm color">2박3일 대여요금</span>
        <span class="detail_ct color ct2">158,850원</span>
      </div>
      <div class="tt_box3">
        <div class="select_01">
          <span class="detail_nm">대여기간</span>
          <select id="choice_day" name="period" size="1" class="ct3">
              <optgroup label="- [필수] 대여기간 선택 -">
                <option class="price_0" value="choice">- [필수] 대여기간 선택 -</option>
                <option class="price_01" value="158850">2박3일</option>
                <option class="price_02" value="25000">3박4일(+25,000원)</option>
                <option class="price_03" value="50000">4박5일(+50,000원)</option>
                <option class="price_04" value="75000">5박6일(+75,000원)</option>
              </optgroup>
          </select>
        </div>
        <div class="select_02">
          <span class="detail_nm">실사용년</span>
          <select name="year" size="1" class="ct3">
            <optgroup label="- [필수] 실사용년 선택 -">
              <option value="year">- [필수] 실사용년 선택 -</option>
              <option value="2021">2021</option>
            </optgroup>
          </select>
        </div>
        <div class="select_03">
          <span class="detail_nm">사용월</span>
          <select name="month" size="1" class="ct4">
            <optgroup label="- [필수] 사용월 선택 -">
              <option value="month">- [필수] 사용월 선택 -</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </optgroup>
          </select>
        </div>
        <div class="select_04">
          <span class="detail_nm">사용 시작일</span>
          <select name="days" size="1" class="ct5">
            <optgroup label="- [필수] 사용 시작일 선택 -">
              <option value="days">- [필수] 사용 시작일 선택 -</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div class="tt_box4">
        <span class="detail_nm">총 상품금액</span>
        <span class="detail_nm2">(수량) : </span>
        <span class="price">0</span>
        <span class="price2">원</span>
      </div>
      <div class="tt_box5">
        <a href="#none" class="detail_bt1">바로구매</a>
        <a href="#none" class="detail_bt2">장바구니</a>
        <a href="#none" class="detail_bt3">관심상품</a>
      </div>
    </div>
  <div class="bottom_box">
      <div class="label_box">
        <ul class="detail_list">
          <li>
            <span class="dt_name">상품상세정보</span>
            <div class="detail_box">
              <div class="infor_box">
                <img src="/img/detail1.jpg" alt="">
                <img src="/img/detail2.jpg" alt="">
                <img src="/img/detail3.jpg" alt="">
                <img src="/img/detail4.jpg" alt="">
                <div class="infor_tbox">
                  <span class="infor_t1">
                    문리버2 4인 캠핑 풀세트 구성제품
                  </span>
                  <p><span class="infor_t2">
                    1. 코베아 문리버2 텐트 및 구성품<br>
                    2. 캠핑메트 2매<br>
                    3. 4인 캠핑테이블<br>
                    4. 몽구스 클래식 체어 4개<br>
                    5. 6-7인 스테인레스 코펠<br>
                    6. 트윈버너<br>
                    7. 슬림다크론 침낭 4개<br>
                    8. 4-5인 용 화로대<br>
                    9. 케이블 릴<br>
                    10. 작업등<br>
                    11. 실내용 LED 랜턴 2개<br>
                    12. 아이스박스 [23L] 1개
                  </span></p>
                </div>
              </div>
            </div>
          </li>
          <li class="detail_tab">
            <span class="dt_name">상품구매안내</span>
            <div class="detail_box">
              <div class="guide_box">
                <div class="guide_tbox">
                  <span class="guide_t1">상품결제정보</span>
                  <p>
                    <span class="guide_t2">
                    고액 결제의 경우 안전을 위해 카드사에서 확인 전화를 드릴 수도 있습니다.
                    확인 과정에서 도난 카드의 사용이나 타인 명의의 주문 등 정상적인 주문이 아니라고 판단될 경우
                    임의로 주문을 보류 또는 취소할 수 있습니다.<br>
                    <br>
                    무통장 입금은 상품 구매 대금은 PC 뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.<br>
                    주문 시 입력한 입금자명과 실제 입금자의 성명이 반드시 일치하여야 하며,
                    7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동 취소됩니다.
                    </span>
                  </p>
                </div>
                <div class="guide_tbox">
                  <span class="guide_t1">배송정보</span>
                  <p>
                    <span class="guide_t2">
                      배송 방법 : 택배<br>
                      배송 비용 : 50,000원<br>
                      배송 기간 : 2일 ~ 3일
                      배송 안내<br>
                      1. 청바지의 배송은 CJ대한통운 택배(1588-1255)를 이용해서 안전하게 보내드립니다.<br>
                      2. 여유로운 예약 및 결제가 고객님의 귀중한 여행 스케줄을 지켜줍니다.
                      3. 사용 전일 긴급한 주문의 경우 택배를 이용해서 제품을 받으실 계획이시라면 당일 반드시
                      청바지 로그인 후 배송조회를 하시어 담당 기사님과 통화하셔서 제품을 받으셔야 합니다.
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="dt_name">상품사용후기</span>
            <div class="detail_box">
              <div class="lent_rbox">
                <div class="rtbox1">
                  <span class="rt1">상품사용후기</span>
                  <span class="rt2">상품의 사용후기를 적어주세요.</span>
                </div>
                <div class="rtbox2">
                  <span class="rt3">게시물이 없습니다</span>
                </div>
                <div class="rtbox3">
                  <a href="#none" class="rt4 detail_bt4">상품후기쓰기</a>
                  <a href="/layout/lent_review.html" target="_blank" class="rt4">모두보기</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="dt_name">상품Q&A</span>
            <div class="detail_box">
              <div class="qna_box qna1">
                   <div class="qbox1">
                     <span class="qt1">상품Q&A</span>
                     <span class="qt2">상품에 대해 궁금한 점을 해결해 드립니다.</span>
                   </div>
                   <div class="qbox2">
                     <span class="qt3">번호</span>
                     <span class="qt4">카테고리</span>
                     <span class="qt5">제목</span>
                     <span class="qt6">작성자</span>
                     <span class="qt7">작성일</span>
                     <span class="qt8">조회</span>
                   </div>
                   <div class="qbox3">
                     <div class="qmini_box">
                       <span class="minit1">24</span>
                       <span class="xi-lock-o minit2"></span>
                       <span class="minit3">궁금합니다</span>
                       <span class="minit4">이혜림</span>
                       <span class="minit5">2020-10-07</span>
                       <span class="minit6">2</span>
                     </div>
                     <div class="secreat">
                       <span class="password">비밀번호</span>
                       <input type="password" class="pw_box" maxlength="15">
                       <button class="pw_btn">확인</button>
                     </div>
                     <div class="qmini_box">
                       <span class="minit1">23</span>
                       <span class="minit7">+RE</span>
                       <span class="xi-lock-o minit8"></span>
                       <span class="minit9">궁금합니다</span>
                       <span class="minit10">CS팀</span>
                       <span class="minit11">2020-10-07</span>
                       <span class="minit12">1</span>
                     </div>
                     <div class="secreat">
                       <span class="password">비밀번호</span>
                       <input type="password" class="pw_box" maxlength="15">
                       <button class="pw_btn">확인</button>
                     </div>
                     <div class="qmini_box">
                       <span class="minit1">22</span>
                       <span class="xi-lock-o minit2"></span>
                       <span class="minit3">궁금합니다</span>
                       <span class="minit4">김유진</span>
                       <span class="minit5">2019-08-27</span>
                       <span class="minit6">2</span>
                     </div>
                     <div class="secreat">
                       <span class="password">비밀번호</span>
                       <input type="password" class="pw_box" maxlength="15">
                       <button class="pw_btn">확인</button>
                     </div>
                     <div class="qmini_box">
                       <span class="minit1">21</span>
                       <span class="minit7">+RE</span>
                       <span class="xi-lock-o minit8"></span>
                       <span class="minit9">궁금합니다</span>
                       <span class="minit10">CS팀</span>
                       <span class="minit11">2019-08-27</span>
                       <span class="minit12">3</span>
                     </div>
                     <div class="secreat">
                       <span class="password">비밀번호</span>
                       <input type="password" class="pw_box" maxlength="15">
                       <button class="pw_btn">확인</button>
                     </div>
                     <div class="qmini_box">
                       <span class="minit1">20</span>
                       <span class="xi-lock-o minit2"></span>
                       <span class="minit3">궁금합니다</span>
                       <span class="minit4">김민수</span>
                       <span class="minit5">2019-08-26</span>
                       <span class="minit6">7</span>
                     </div>
                     <div class="secreat">
                       <span class="password">비밀번호</span>
                       <input type="password" class="pw_box" maxlength="15">
                       <button class="pw_btn">확인</button>
                     </div>
                 </div>
                 <div class="qbox4">
                   <a href="#none" class="qt9 detail_bt5">상품문의하기</a>
                   <a href="/layout/lent_qna.html" target="_blank" class="qt9">모두보기</a>
                 </div>
                 <div class="qbox5">
                   <span class="xi-angle-left-min"></span>
                   <span class="num1">1</span>
                   <span class="num">2</span>
                   <span class="num">3</span>
                   <span class="num">4</span>
                   <span class="num">5</span>
                   <span class="xi-angle-right-min"></span>
                 </div>
               </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</section>
<?php include_once('../layout/footer.html'); ?>
