<?php include_once('../layout/header.html'); ?>
<section id="qna_pw">
  <div class="lq_box">
    <h2>렌탈QnA</h2>
    <span class="lq_name">
      렌탈에 관한 궁금하신 질문을 올려주세요.
   내용에 맞지 않는 게시물은 관리자의 권한으로 삭제합니다.</span>
  </div>
  <div class="pw_container">
    <h3>비밀글보기</h3>
    <span class="pw_ct">
      이 글은 비밀글입니다.
      <span class="red_t">비밀번호를 입력하여 주세요.</span>
      <br>관리자는 확인버튼만 누르시면 됩니다.
    </span>
    <span class="pw_box">비밀번호</span>
    <input id="lent_pw" type="password" maxlength="15">
    <div class="btn_box">
      <a href="/layout/lent_qna.html" class="back_btn">목록</a>
      <button class="ok_btn">확인</button>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
