<?php include_once('../layout/header.html'); ?>
<section id="lent_review">
  <div class="lr_box1">
    <h2>렌탈후기</h2>
    <span class="lr_name">대여금액 100,000원 이상,
    직접 설치한 장비와 캠핑모습을 담은 사진 3장 이상으로 렌탈후기를
  작성해주시면 렌탈 할인쿠폰 10,000원을 드립니다.
  내용에 맞지 않는 게시물은 관리자의 권한으로 삭제합니다.</span>
  </div>
  <div class="lr_box2">
    <span class="tt_01">번호</span>
    <span class="tt_02">상품정보</span>
    <span class="tt_03">재목</span>
    <span class="tt_04">작성자</span>
    <span class="tt_05">작성일</span>
    <span class="tt_06">조회</span>
    <span class="tt_07">추천</span>
    <span class="tt_08">평점></span>
  </div>
  <div class="lr_list_01"><span>96</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>95</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>94</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>93</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>92</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>91</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>90</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>89</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>88</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="lr_list_01"><span>87</span></div>
  <div class="lr_list_02"><span></span></div>
  <div class="lr_list_03"><span></span></div>
  <div class="lr_list_04"><span></span></div>
  <div class="lr_list_05"><span></span></div>
  <div class="lr_list_06"><span></span></div>
  <div class="lr_list_07"><span></span></div>
  <div class="lr_list_08"><span></span></div>
  <div class="num_box">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="search_box">
    <span class="s_tt"></span>
    <select name="" id="">
      <optgroup>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </optgroup>
    </select>
    <select name="" id="">
      <optgroup>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </optgroup>
    </select>
    <input type="text">
    <button></button>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
