<?php include_once('../layout/header.html'); ?>
<section id="reserve">
<div id="reservation">
  <ul class="reserve_box">
    <li>
      <div class="reserve-button">
        <a class="r_box" href="#none">
          <img src="../img/rs_1.png">
          캠핑
        <span></span></a>
      </div>
    </li>
    <li>
      <div class="reserve-button">
        <a class="r_box" href="#none">
          <img src="../img/rs_2.png">
          차박
        <span></span></a>
      </div>
    </li>
    <li>
      <div class="reserve-button">
        <a class="r_box" href="#none">
          <img src="../img/rs_3.png">
          배낭여행
        <span></span></a>
      </div>
    </li>
  </ul>
</div>
<div class="popup_back">
   <div class="popup">
     <h5>로그인</h5>
     <span class="xi-close login_close"></span>
     <p>로그인이 필요한 기능입니다.<br>
     로그인 페이지로 이동하시겠습니까?</p>
     <a id="cancle" href="#none">취소</a>
     <a id="agree" target="_blank" href="/join/login.html">확인</a>
   </div>
 </div>
</section>
<?php include_once('../layout/footer.html'); ?>
