<?php include_once('../layout/header.html'); ?>
<section id="review">
    <div class="review_bg">
      <h1>Review</h1>
      <ul class="section_menu">
        <li>
          <span class="xi-home-o"></span>
          <a href="/layout/bluepants.html">
            HOME
          </a>
        </li>
        <li><a href="#none">함께하기</a></li>
        <li><a href="/layout/review.html">
          베스트여행가
        </a></li>
      </ul>
      <div class="wave">
        <img src="/img/wave4.png">
      </div>
    </div>
    <div class="review_box">
      <div class="best_review">
        <h2>베스트여행가</h2>
        <ul class="review_list_01">
          <li>
            <a href="#none"><img src="/img/review_1.png"></a>
            <div class="review_t_01">
            <span class="review_name_01">이요리님</span>
            <p><span class="review_ct_01">
              캠핑도구 렌탈해서 처음 다녀왔는데 도구도 깨끗하고 재미있었어요!
            </span></p>
            </div>
            <div class="star_box_1">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="/img/review_2.png"></a>
            <div class="review_t_01">
            <span class="review_name_01">오삼수님</span>
            <p><span class="review_ct_01">
              그늘막만 렌탈하고 나머지는 그냥 차박했는데, 장소추천이 좋아서 매우만족이요~~
            </span></p>
            </div>
            <div class="star_box_1">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="/img/review_3.png"></a>
            <div class="review_t_01">
            <span class="review_name_01">신청춘님</span>
            <p><span class="review_ct_01">
              일부러 단풍 이쁜 곳 찾아서 다녀왔는데 손자들도 좋아하고 짱!입니다
            </span></p>
            </div>
            <div class="star_box_1">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="/img/review_4.png"></a>
            <div class="review_t_01">
            <span class="review_name_01">최고다님</span>
            <p><span class="review_ct_01">
              처음 해 보는 차박인데 사람도 없고 조용한 곳에서 푹 쉬다 갑니다.
            </span></p>
            </div>
            <div class="star_box_1">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="origin_review">
       <span class="review_name">후기</span>
        <div class="review_search">
          <select name="review_category" size="1">
            <optgroup label="카테고리">
              <option value="camping">캠핑</option>
              <option value="chabak">차박</option>
              <option value="baenangyeaheng">배낭여행</option>
              <option value="baenangyeaheng">렌탈</option>
            </optgroup>
          </select>
          <input id="search_box" type="search" placeholder="검색하기">
          <button type="button" class="search_btn">검색</button>
        </div>
        <ul class="review_list_02">
          <li>
            <a href="#none"><img src="../img/review_01.png"></a>
              <div class="review_t_02">
              <span class="review_name_02">이*유님</span>
              <p><span class="review_ct_02">
                추천 지역중에 골라서 다녀왔는데 조용하고 좋았습니다.
              </span></p>
              </div>
              <div class="star_box_2">
                <span class="xi-star"></span>
                <span class="xi-star"></span>
                <span class="xi-star"></span>
                <span class="xi-star"></span>
                <span class="xi-star-o"></span>
              </div>
            </li>
          <li>
            <a href="#none"><img src="../img/review_02.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">최*경님</span>
            <p><span class="review_ct_02">
              차박할 곳을 못찾아서 애먹었는데 다녀온 곳 노을이 장관이었습니다..
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_03.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">황*아님</span>
            <p><span class="review_ct_02">
              풀밖에 없어서 걱정했는데 별도 잘보이고 한적하게 쉬다왔습니다.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_04.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">차*민님</span>
            <p><span class="review_ct_02">
              텐트세트 대여했는데 냄새 조금 나는거 빼고는 완벽했어요.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star-o"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_05.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">신*한님</span>
            <p><span class="review_ct_02">
              고속버스타고 캠핑장 다녀왔는데 서비스도 좋고 친절합니다.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_06.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">이*현님</span>
            <p><span class="review_ct_02">
              사람이 좀 있어서 방음 잘 안되는거 말곤 불멍도 하고 좋았습니다.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star-o"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_07.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">채*영님</span>
            <p><span class="review_ct_02">
              서울근교 글램핑장 다녀왔는데 도심에서 벗어난 힐링 만끽하고 왔습니다.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
          <li>
            <a href="#none"><img src="../img/review_08.png"></a>
            <div class="review_t_02">
            <span class="review_name_02">이*지님</span>
            <p><span class="review_ct_02">
              바다 바로앞에 차를 댈 수 있는 곳이 있어서 다녀왔는데 매우 만족입니다.
            </span></p>
            </div>
            <div class="star_box_2">
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
              <span class="xi-star"></span>
            </div>
          </li>
        </ul>
      <div class="review_bottom">
        <button class="review_btn">후기 작성하기</button>
      </div>
    </div>
  </div>
  <div class="review_detail">
    <div class="rdbox1">
      <span class="title">이용후기</span>
      <span class="xi-close-thin closebtn"></span>
    </div>
    <div class="rdbox2">
      <span class="name">이요리님</span>
      <span class="xi-star"></span>
      <span class="xi-star"></span>
      <span class="xi-star"></span>
      <span class="xi-star"></span>
      <span class="xi-star"></span>
      <span class="date">2020.08.15</span>
      <span class="visit">1007</span>
    </div>
    <div class="rdbox3">
      <span class="good">추천</span>
      <span id="symp_count">12</span>
      <input type="checkbox" id="recommend">
      <label id="symp_btn" for="recommend">
      <span class="xi-emoticon-smiley-o">추천해요</span>
      </label>
    </div>
    <div class="rdbox4">
      <img src="/img/review_detail.png" alt="">
    </div>
    <div class="rdbox5">
      <p>
        <span>
          캠핑은 처음이라서 여기저기 돌아다녀보다가
          청바지를 찾게되었습니다.
          청바지는 다른 여행 관련 서비스와는 다르게
          쉽고 간단하게 설명되어있고
          캠핑도구도 렌탈이 가능해서 좋았어요.
          그래서 이번에 캠핑도구 몇가지만 렌탈해서
          다녀왔는데 도구도 생각보다 정말 깨끗했고
          캠핑장도 한적하니 제대로 쉬다 왔습니다.
          청바지 고마워요~~~^^*
        </span>
      </p>
    </div>
  </div>
</section>

<?php include_once('../layout/footer.html'); ?>
