<?php include_once('../layout/header.html'); ?>
<section id="service">
  <div class="service_01">
      <h1>안녕하세요. 무엇을 도와드릴까요?</h1>
        <ul class="section_menu">
          <li>
            <span class="xi-home-o"></span>
            <a href="/layout/bluepants.html">
              HOME
            </a>
          </li>
          <li><a href="#none">고객센터</a></li>
          <li><a href="/layout/service.html">
            문의하기
          </a></li>
        </ul>
    <div class="wave">
      <img src="/img/wave4.png">
    </div>
  </div>
  <div class="service_tel">
    <div class="service_02">
      <span class="xi-call phone_icon"></span>
      <span class="service_t_02">고객센터 연락처</span>
      <div class="tel_box_01"><a href="tel:010-5317-0059">010-5317-0059</a></div>
      <div class="tel_box_02">
        <span class="tel_t_b">월~금</span>
        <span class="tel_t_g">09:00-18:00 (점심시간 12:00-13:00)</span></div>
      <div class="tel_box_03">
        <span class="tel_t_b">공휴일&주말</span>
        <span class="tel_t_g">1:1 채팅 상담만 가능</span></div>
      <div class="tel_box_04">
        <span class="tel_t_b">환불,변경 접수</span>
        <span class="tel_t_g">월~금 9:00-17:00</span></div>
    </div>
    <div class="right_service">
      <div class="service_03">
        <span class="xi-mail mail_icon"></span>
        <span class="service_t_03">이메일 주소</span>
        <div class="mail_box_01">
          <span class="tel_t_g">예약권</span>
          <span class="tel_t_b">reservation@bluepants.com</span></div>
        <div class="mail_box_02">
          <span class="tel_t_g">렌탈</span>
          <span class="tel_t_b">lent@bluepants.com</span></div>
        <div class="mail_box_03">
          <span class="tel_t_g">기타</span>
          <span class="tel_t_b">help@bluepants.com</span></div>
      </div>
      <div class="service_04">
        <span class="xi-send fax_icon"></span>
        <span class="service_t_04">FAX</span>
        <div class="fax_box_01">
         <a href="tel:02-1004-7777">02-1004-7777</a></div>
      </div>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
