<?php include_once('../layout/header.html'); ?>
<section id="trip">
  <div class="trip_box">
    <div class="trip_bg">
      <h1>Trip</h1>
      <ul class="trip_menu">
        <li>
          <span class="xi-home-o"></span>
          <a href="/layout/bluepants.html">
            HOME
          </a>
        </li>
        <li><a href="#nonenone">여행가기</a></li>
        <li><a href="/layout/trip.html">
          여행
        </a></li>
      </ul>
      <div class="wave">
        <img src="/img/wave4.png">
      </div>
    </div>
    <div class="trip_box_01">
      <ul class="trip_list">
        <li>
          <input type="radio" name="trip" id="hotplace" checked>
          <label for="hotplace">핫플레이스</label>
          <div id="trip_container">
            <div class="place_box">
              <p><span>제주도</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/jeju_01.png">
                <span class="place_name">올레길</span></a>
                <div class="hover_box">
                  <span class="camp_adress">제주특별자치도 서귀포시<br>대정읍 하모리</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeju_02.png">
                <span class="place_name">사려니숲길</span></a>
                <div class="hover_box">
                  <span class="camp_adress">제주특별자치도 제주시<br>조천읍 교래리 산137-1</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeju_03.png">
                <span class="place_name">동문재래시장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">제주특별자치도 제주시<br>관덕로14길 20</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeju_04.png">
                <span class="place_name">성산일출봉</span></a>
                <div class="hover_box">
                  <span class="camp_adress">제주특별자치도 서귀포시<br>성산읍 성산리 1</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
              </ul>
            </div>
            <div id="popular" class="place_box">
              <p><span>부산</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/busan_01.png">
                <span class="place_name">감천문화마을</span></a>
                <div class="hover_box">
                  <span class="camp_adress">부산광역시 사하구 감내2로 203<br>감천문화마을안내센터</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/busan_02.png">
                <span class="place_name">광안대교</span></a>
                <div class="hover_box">
                  <span class="camp_adress">부산광역시 수영구 민락동</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/busan_03.png">
                <span class="place_name">송도해수욕장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">부산광역시 서구 암남동</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/busan_04.png">
                <span class="place_name">해동용궁사</span></a>
                <div class="hover_box">
                  <span class="camp_adress">부산광역시 기장군 기장읍<br>용궁길 86 해동용궁사</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>강원도</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/gangwon_01.png">
                <span class="place_name">대관령 양떼목장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">강원도 평창군 대관령면<br>대관령마루길 483-32 대관령양떼목장</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gangwon_02.png">
                <span class="place_name">설악산</span></a>
                <div class="hover_box">
                  <span class="camp_adress">강원도 인제군 북면 한계리</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gangwon_03.png">
                <span class="place_name">양양해수욕장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">강원도 양양군 현북면 하광정리</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gangwon_04.png">
                <span class="place_name">인제 빙어축제</span></a>
                <div class="hover_box">
                  <span class="camp_adress">강원도 인제군 남면 부평리 555-2</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>경주</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/gyeongju_01.png">
                <span class="place_name">대릉원</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경상북도 경주시 황남동</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gyeongju_02.png">
                <span class="place_name">불국사</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경상북도 경주시 불국로 385 불국사</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gyeongju_03.png">
                <span class="place_name">동궁과 월지</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경상북도 경주시 원화로 102 안압지</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/gyeongju_04.png">
                <span class="place_name">첨성대</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경상북도 경주시 인왕동 839-1</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>전라남도&경상남도</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/jeaonra_01.png">
                <span class="place_name">순천만습지</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전라남도 순천시 순천만길 513-25</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeaonra_02.png">
                <span class="place_name">여수 오동도</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전라남도 여수시 수정동 산1-11</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeaonra_03.png">
                <span class="place_name">순천 낙안읍성</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전라남도 순천시 낙안면<br>쌍청루길 157-3</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
                <li><a href="#nonenone"><img src="../img/jeaonra_04.png">
                <span class="place_name">지리산</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경상남도 함양군 마천면 추성리</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span></div></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <input type="radio" name="trip" id="camp">
          <label for="camp">캠핑</label>
          <div id="trip_container">
            <div class="place_box">
              <p><span>서울</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/camp_01.png">
                <span class="place_name">중랑캠핑숲</span></a>
                <div class="hover_box">
                  <span class="camp_adress">서울 중랑구 망우로87길 110</span>
                  <a class="camp_phone" href="tel:010-3316-8138">010-3316-8138</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
                </div></li>
                <li><a href="#nonenone"><img src="../img/camp_02.png">
                <span class="place_name">강동 그린웨이 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">서울 강동구 둔촌동 562</span>
                  <a class="camp_phone" href="tel:02-478-4079">02-478-4079</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
                </div></li>
                <li><a href="#nonenone"><img src="../img/camp_03.png">
                <span class="place_name">잠원 한강공원 여름 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">서초구 잠원로 221-124</span>
                  <a class="camp_phone" href="tel:02-3780-0531">02-3780-0531</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
                </div></li>
                <li><a href="#nonenone"><img src="../img/camp_04.png">
                <span class="place_name">인디언 소울||</span></a>
                <div class="hover_box">
                  <span class="camp_adress">서울 도봉구 도봉동 275-2</span>
                  <a class="camp_phone" href="tel:02-955-3977">02-955-3977</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
                </div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>경기</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/camp_05.png">
                <span class="place_name">글램비글램핑</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 화성시 서신면 해안길 64</span>
                  <a class="camp_phone" href="tel:031-357-7263">031-357-7263</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_06.png">
                <span class="place_name">해여림 빌리지</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 여주시 산북면 해여림로 78</span>
                  <a class="camp_phone" href="tel:031-882-1700">031-882-1700</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_07.png">
                <span class="place_name">물왕 숲 캠핑파크</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 시흥시 동서로 706-88</span>
                  <a class="camp_phone" href="tel:0507-1345-4700">0507-1345-4700</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_08.png">
                <span class="place_name">힐링 별밤 수목원 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 남양주시 수동면 비룡로 1516-19</span>
                  <a class="camp_phone" href="tel:0507-1445-0139">0507-1445-0139</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>가평</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/camp_09.png">
                <span class="place_name">와이캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 가평군 청평면 강변로 115</span>
                  <a class="camp_phone" href="tel:0507-1315-9878">0507-1315-9878</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_10.png">
                <span class="place_name">아트살롱 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 가평군 상면 수목원로 181-22</span>
                  <a class="camp_phone" href="tel:010-8850-9324">010-8850-9324</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_11.png">
                <span class="place_name">개울가 오토캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 가평군 설악면 유명로 654-58</span>
                  <a class="camp_phone" href="tel:010-8854-7958">010-8854-7958</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_12.png">
                <span class="place_name">푸른숲 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경기 가평군 설악면 유명산길<br>61-108 푸른숲황토방민박</span>
                  <a class="camp_phone" href="tel:0507-1444-8577">0507-1444-8577</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>경상도</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/camp_13.png">
                <span class="place_name">캠프안단테</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경북 청도군 청도읍 청매로 283-47</span>
                  <a class="camp_phone" href="tel:054-373-3305">054-373-3305</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_14.png">
                <span class="place_name">한밤 솔담길 오토캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경북 군위군 부계면 한밤8길 2</span>
                  <a class="camp_phone" href="tel:0507-1408-3660">0507-1408-3660</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_15.png">
                <span class="place_name">청송 오토캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경북 청송군 부남면 얼음골로 690</span>
                  <a class="camp_phone" href="tel:054-874-0300">054-874-0300</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#nonenone"><img src="../img/camp_16.png">
                <span class="place_name">칠곡보 오토캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">경북 칠곡군 약목면 관호리 8</span>
                  <a class="camp_phone" href="tel:054-974-9772">054-974-9772</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
              </ul>
            </div>
            <div class="place_box">
              <p><span>전라도</span></p>
              <ul class="place_list">
                <li><a href="#nonenone"><img src="../img/camp_17.png">
                <span class="place_name">덕유대 오토캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전북 무주군 설천면 백련사길 2</span>
                  <a class="camp_phone" href="tel:063-322-3173">063-322-3173</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#none"><img src="../img/camp_18.png">
                <span class="place_name">고사포 야영장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전북 부안군 변산면 운산리 441-11</span>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#none"><img src="../img/camp_19.png">
                <span class="place_name">구시포 노을 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전북 고창군 상하면 구시포안길 38</span>
                  <a class="camp_phone" href="tel:0507-1401-2627">0507-1401-2627</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
                <li><a href="#none"><img src="../img/camp_20.png">
                <span class="place_name">도란도란 캠핑장</span></a>
                <div class="hover_box">
                  <span class="camp_adress">전북 전주시 완산구 간납로 13</span>
                  <a class="camp_phone" href="tel:010-2525-1099">010-2525-1099</a>
                  <span class="xi-heart-o heart"></span>
                  <span class="xi-heart red_heart"></span>
              </div></li>
              </ul>
            </div>
          </div>
      </li>
      <li>
        <input type="radio" name="trip" id="autocamp">
        <label for="autocamp">차박</label>
        <div id="trip_container">
          <div class="place_box">
            <p><span>전 지역</span></p>
            <ul class="place_list">
              <li><a href="#none"><img src="../img/car_01.png">
              <span class="place_name">인천 실미유원지</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천광역시 중구 큰무리로 99</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_02.png">
              <span class="place_name">충주수주팔봉 캠핑장</span></a>
              <div class="hover_box">
                <span class="camp_adress">충북 충주시 대소원면 문주리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_03.png">
              <span class="place_name">영종도 마시안해변</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천광역시 중구 마시란로 118</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_04.png">
              <span class="place_name">강릉 순긋해변</span></a>
              <div class="hover_box">
                <span class="camp_adress">강원도 강릉시 안현동</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
            </ul>
          </div>
          <div class="place_box">
            <ul class="place_list">
              <li><a href="#none"><img src="../img/car_05.png">
              <span class="place_name">포항 도구해수욕장</span></a>
              <div class="hover_box">
                <span class="camp_adress">경상북도 포항시 남구 동해면 도구리 729-17</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_06.png">
              <span class="place_name">홍천 모곡밤벌유원지</span></a>
              <div class="hover_box">
                <span class="camp_adress">강원도 홍천군 서면 밤벌길 133</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_07.png">
              <span class="place_name">가평 어비계곡</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기도 가평군 설악면 천안리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_08.png">
              <span class="place_name">충주 수주팔봉캠핑장</span></a>
              <div class="hover_box">
                <span class="camp_adress">충북 충주시 살미면 토계리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
            </ul>
          </div>
          <div class="place_box">
            <ul class="place_list">
              <li><a href="#none"><img src="../img/car_09.png">
              <span class="place_name">제부도 선착장</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 화성시 서신면 제부리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_10.png">
              <span class="place_name">안성 탄로항</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 안산시 단원구 선감동 717-5</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_11.png">
              <span class="place_name">화성 전곡항</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 화성시 서신면 전곡리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_12.png">
              <span class="place_name">화성 궁평항</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 화성시 서신면 궁평항로 1049-24</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
            </ul>
          </div>
          <div class="place_box">
            <ul class="place_list">
              <li><a href="#none"><img src="../img/car_13.png">
              <span class="place_name">평택호</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 평택시 현덕면 대안리 1396</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_14.png">
              <span class="place_name">충주 비내섬</span></a>
              <div class="hover_box">
                <span class="camp_adress">충북 충주시 앙성면 조천리 412</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_15.png">
              <span class="place_name">경주 청룡폭포</span></a>
              <div class="hover_box">
                <span class="camp_adress">경주시 산내면 단석로 691</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/car_16.png">
              <span class="place_name">연천 주상절리</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 연천군 미산면 동이리</span>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div>
            </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="trip" id="bagtrip">
        <label for="bagtrip">배낭여행</label>
        <div id="trip_container">
          <div class="place_box">
            <p><span>서울근교</span></p>
            <ul class="place_list">
              <li><a href="#none"><img src="../img/bag_01.png">
              <span class="place_name">캠핑톡</span></a>
              <div class="hover_box">
                <span class="camp_adress">서울 서초구 남부순환로 2497<br>호서대학교 벤처대학원 709호</span>
                <a class="camp_phone" href="tel:070-4336-1824">070-4336-1824</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/bag_02.png">
              <span class="place_name">서울 서초글램핑 청계산장</span></a>
              <div class="hover_box">
                <span class="camp_adress">서울 서초구 청계산로 140-94</span>
                <a class="camp_phone" href="tel:010-5471-3699">010-5471-3699</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/bag_03.png">
              <span class="place_name">강화 캠핑파크</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천 강화군 길상면<br>신촌로146번길 14-11</span>
                <a class="camp_phone" href="tel:0507-1439-1025">0507-1439-1025</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
              <li><a href="#none"><img src="../img/bag_04.png">
              <span class="place_name">마리원 캠핑장</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천 강화군 길상면<br>장흥로101번길 6</span>
                <a class="camp_phone" href="tel:0507-1308-4377">0507-1308-4377</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
              </div></li>
            </ul>
          </div>
          <div class="place_box">
            <ul class="place_list">
              <li><a href="#none"><img src="../img/bag_05.png">
              <span class="place_name">검디관광농원 캠핑장</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천 강화군 길상면 동검길 159-47</span>
                <a class="camp_phone" href="tel:0507-1316-5802">0507-1316-5802</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_06.png">
              <span class="place_name">아로니움 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천 강화군 삼산면 삼산남로 85-11</span>
                <a class="camp_phone" href="tel:032-933-6256">032-933-6256</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_07.png">
              <span class="place_name">서울 북한산 럭셔리 카라반&글림핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">서울 서초구 청계산로 140-94</span>
                <a class="camp_phone" href="tel:010-5471-3699">010-5471-3699</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_08.png">
              <span class="place_name">씨스테이 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">인천 옹진군 영흥면 내리 산109</span>
                <a class="camp_phone" href="tel:010-2645-7477">010-2645-7477</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
            </ul>
          </div>
          <div class="place_box">
            <p><span>가평</span></p>
            <ul class="place_list">
              <li><a href="#none"><img src="../img/bag_09.png">
              <span class="place_name">새라핌캠프</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 가평군 설악면 묵안로 626-17</span>
                <a class="camp_phone" href="tel:0507-1348-3917">0507-1348-3917</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_10.png">
              <span class="place_name">새연 카라반 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 가평군 조종면<br>운악청계로333번길 86</span>
                <a class="camp_phone" href="tel:010-4150-6204">010-4150-6204</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_11.png">
              <span class="place_name">가평 명지산 카라반&글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 가평군 북면 가화로 2932-23</span>
                <a class="camp_phone" href="tel:0507-1320-0655">0507-1320-0655</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_12.png">
              <span class="place_name">그라티아 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">경기 가평군 가평읍 두밀리 216</span>
                <a class="camp_phone" href="tel:0507-1339-1433">0507-1339-1433</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
            </ul>
          </div>
          <div class="place_box">
            <p><span>경상도</span></p>
            <ul class="place_list">
              <li><a href="#none"><img src="../img/bag_13.png">
              <span class="place_name">봉식이놀이터 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">경북 청도군 풍각면 봉수길 749-8</span>
                <a class="camp_phone" href="tel:054-371-3969">054-371-3969</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_14.png">
              <span class="place_name">글램핑앤카라반</span></a>
              <div class="hover_box">
                <span class="camp_adress">경북 포항시 남구 호미곶면 구만길 64</span>
                <a class="camp_phone" href="tel:010-8974-1004">010-8974-1004</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_15.png">
              <span class="place_name">별빛마루 글램핑팬션</span></a>
              <div class="hover_box">
                <span class="camp_adress">경북 경주시 천북면 새터흥림길 1-75</span>
                <a class="camp_phone" href="tel:010-9349-9141">010-9349-9141</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_16.png">
              <span class="place_name">팔공산 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">경북 칠곡군 동명면 구남로 281<br>팔공산글램핑</span>
                <a class="camp_phone" href="tel:0507-1348-9798">0507-1348-9798</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
            </ul>
          </div>
          <div class="place_box">
            <p><span>전라도</span></p>
            <ul class="place_list">
              <li><a href="#none"><img src="../img/bag_17.png">
              <span class="place_name">구시포 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">전북 고창군 상하면<br>진암구시포로 547-23</span>
                <a class="camp_phone" href="tel:010-2640-6001">010-2640-6001</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_18.png">
              <span class="place_name">금강 두승산 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">전북 정읍시 고부면 영원로 222-15</span>
                <a class="camp_phone" href="tel:063-536-4441">063-536-4441</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_19.png">
              <span class="place_name">덕유산 계곡 글램핑</span></a>
              <div class="hover_box">
                <span class="camp_adress">전북 무주군 설천면 구천동1로 44</span>
                <a class="camp_phone" href="tel:010-4591-6470">010-4591-6470</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
              <li><a href="#none"><img src="../img/bag_20.png">
              <span class="place_name">그날 카라반</span></a>
              <div class="hover_box">
                <span class="camp_adress">전북 무주군 설천면 심곡리 651</span>
                <a class="camp_phone" href="tel:010-4488-5119">010-4488-5119</a>
                <span class="xi-heart-o heart"></span>
                <span class="xi-heart red_heart"></span>
            </div></li>
            </ul>
          </div>
        </div>
      </li>
      </ul>
    </div>
  </div>
</section>
<?php include_once('../layout/footer.html'); ?>
